<div data-role="view" data-controller="Demo.ViewController.Home" data-title="Moobile">

	<h2>Moobile</h2>

	<p>
		<small>Version: 0.1.0</small>
	</p>

	<p>
		This is a small framework built on top of Mootools 1.3 that focus on
		creating mobile application for the iPhone and iPad. This release has
		only been tested with iOS devices.
	</p>

	<h3>Transitions</h3>

	<div class="ui-list" data-role="control" data-control="UI.List" data-name="list">

		<ul>
			<li class="ui-list-item" data-role="list-item" data-name="transition-slide">Slide</li>
			<li class="ui-list-item" data-role="list-item" data-name="transition-cubic">Cubic</li>
		</ul>

		<br />

		<h3>System</h3>

		<ul>
			<li class="ui-list-item" data-role="list-item" data-name="ui">UI</li>
			<li class="ui-list-item" data-role="list-item" data-name="fx">Effects</li>
		</ul>

		<br />

		<h3>Other</h3>

		<ul>
			<li class="ui-list-item" data-role="list-item" data-name="licence">Licence</li>
		</ul>

	</div>

</div>