<div data-role="view" data-controller="Demo.ViewController.Home" data-title="Moobile">

	<h2>Moobile</h2>

	<p>
		<small>Version: 0.1.0</small>
	</p>

	<br />

	<div class="ui-navigation-bar">
		<div class="ui-navigation-bar-button">Button</div>
	</div>

	<br />

	<p>
		This is a small framework built on top of Mootools 1.3 that focus on
		creating mobile application for the iPhone and iPad. This release has
		only been tested with iOS devices.
	</p>

	<h3>Transitions</h3>

	<ul class="ui-list">
		<li class="ui-list-item" data-role="control" data-control="UI.Button" data-name="transition-slide-button">Slide</li>
		<li class="ui-list-item" data-role="control" data-control="UI.Button" data-name="transition-cubic-button">Cubic</li>
	</ul>

	<br />

	<h3>System</h3>

	<ul class="ui-list">
		<li class="ui-list-item" data-role="control" data-control="UI.Button" data-name="fx">Fx.CSS3</li>
	</ul>

	<br />

	<h3>Scroll</h3>

	<ul class="ui-list">
		<li class="ui-list-item" data-role="control" data-control="UI.Button" data-name="button1">Scrolling Text</li>
	</ul>

	<br />

	<h3>Other</h3>

	<ul class="ui-list">
		<li class="ui-list-item" data-role="control" data-control="UI.Button" data-name="button2">Licence</li>
	</ul>

</div>