
/* Body
-----------------------------------------------------------------------------*/

body {
	font-family: "Roboto", sans-serif;
	min-height: 100%;
}

input, select, textarea {
	font-size: 18px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

/* Scroll Bar
-----------------------------------------------------------------------------*/

.scroll-bar-H,
.scroll-bar-H > div,
.scroll-bar-V,
.scroll-bar-V > div {
	position: absolute;
	z-index: 100;
}

.scroll-bar-H {
	bottom: 2px;
	height: 4px;
	left: 2px;
	right: 2px;
}

.scroll-bar-V {
	bottom: 2px;
	right: 2px;
	top: 2px;
	width: 4px;
}

.scroll-bar-H > div {
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
}

.scroll-bar-V > div {
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
}

/* Dark View */

.view.style-dark .scroll-bar-H > div { background: rgba(255, 255, 255, 0.3); }
.view.style-dark .scroll-bar-V > div { background: rgba(255, 255, 255, 0.3); }

/* Window
-----------------------------------------------------------------------------*/

.window {
	background: #111;
}

/* View
-----------------------------------------------------------------------------*/

.view {
	background: #f2f2f2;
	color: #222222;
	font-size: 18px;
	font-weight: normal;
}

.view h1 {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #bababa;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	text-transform: uppercase;
}

.view h2 {
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.view p {
	margin-bottom: 15px;
}

.view p small {
	font-size: 12px;
}

/* Style Dark */

.view.style-dark {
	background: #111;
	color: #fff;
}

/* View Stack
-----------------------------------------------------------------------------*/

.view.view-stack {
	background: transparent;
}

/* Bar
-----------------------------------------------------------------------------*/

.bar {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 3px, transparent 3px);
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),    -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 3px, transparent 3px);
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),     -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 3px, transparent 3px);
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),      -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 3px, transparent 3px);
	background-image:         linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),         linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 3px, transparent 3px);
	background-color: #ddd;
	height: 56px;
}

.bar:after {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 1px, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.13) 2px, rgba(0, 0, 0, 0.07) 2px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.03) 4px, rgba(0, 0, 0, 0.02) 5px, rgba(0, 0, 0, 0.01) 6px, rgba(0, 0, 0, 0.00) 7px);
	background:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 1px, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.13) 2px, rgba(0, 0, 0, 0.07) 2px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.03) 4px, rgba(0, 0, 0, 0.02) 5px, rgba(0, 0, 0, 0.01) 6px, rgba(0, 0, 0, 0.00) 7px);
	background:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 1px, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.13) 2px, rgba(0, 0, 0, 0.07) 2px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.03) 4px, rgba(0, 0, 0, 0.02) 5px, rgba(0, 0, 0, 0.01) 6px, rgba(0, 0, 0, 0.00) 7px);
	background:      -o-linear-gradient(top, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 1px, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.13) 2px, rgba(0, 0, 0, 0.07) 2px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.03) 4px, rgba(0, 0, 0, 0.02) 5px, rgba(0, 0, 0, 0.01) 6px, rgba(0, 0, 0, 0.00) 7px);
	background:         linear-gradient(top, rgba(0, 0, 0, 0.24) 0px, rgba(0, 0, 0, 0.24) 1px, rgba(0, 0, 0, 0.13) 1px, rgba(0, 0, 0, 0.13) 2px, rgba(0, 0, 0, 0.07) 2px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.03) 4px, rgba(0, 0, 0, 0.02) 5px, rgba(0, 0, 0, 0.01) 6px, rgba(0, 0, 0, 0.00) 7px);
	bottom: -10px;
	content: "";
	display: block;
	height: 10px;
	left: 0px;
	position: absolute;
	right: 0px;
}

.bar .bar-item {
	height: 100%;
 }

/* Style Dark */

.bar.style-dark {
	background-color: #222;
	color: #fff;
}

/* Style Contextual */

.bar.style-contextual {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px), -webkit-linear-gradient(bottom, #33b5e5 0px, #33b5e5 3px, transparent 3px);
	background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),    -moz-linear-gradient(bottom, #33b5e5 0px, #33b5e5 3px, transparent 3px);
	background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),     -ms-linear-gradient(bottom, #33b5e5 0px, #33b5e5 3px, transparent 3px);
	background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),      -o-linear-gradient(bottom, #33b5e5 0px, #33b5e5 3px, transparent 3px);
	background-image:         linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 1px, transparent 2px),         linear-gradient(bottom, #33b5e5 0px, #33b5e5 3px, transparent 3px);
	background-color: transparent;
}

/* Navigation Bar
-----------------------------------------------------------------------------*/

.bar.navigation-bar .bar-item .bar-title {
	-webkit-box-orient: horizontal;                              /* Important */
	   -moz-box-orient: horizontal;                              /* Important */
	    -ms-box-orient: horizontal;                              /* Important */
	     -o-box-orient: horizontal;                              /* Important */
	        box-orient: horizontal;                              /* Important */
	-webkit-box-align: center;                                   /* Important */
	   -moz-box-align: center;                                   /* Important */
	    -ms-box-align: center;                                   /* Important */
	     -o-box-align: center;                                   /* Important */
	        box-align: center;                                   /* Important */
	-webkit-box-pack: start;                                    /* Important */
	   -moz-box-pack: start;                                    /* Important */
	    -ms-box-pack: start;                                    /* Important */
	     -o-box-pack: start;                                    /* Important */
	        box-pack: center;                                    /* Important */
	display: -webkit-box;                                        /* Important */
	display:    -moz-box;                                        /* Important */
	display:     -ms-box;                                        /* Important */
	display:      -o-box;                                        /* Important */
	display:         box;                                        /* Important */
	height: inherit;
	overflow: hidden;                                            /* Important */
	margin-left: 12px;
	margin-right: 12px;
	text-overflow: ellipsis;                                     /* Important */
	white-space: nowrap;                                         /* Important */
}

/* Button
-----------------------------------------------------------------------------*/

.button {
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	     -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
	background: rgba(153, 153, 153, 0.4);
	border-top: 1px solid rgba(255, 255, 255, 0.35);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-left: 1px solid rgba(0, 0, 0, 0.04);
	border-right: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: 1px;
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	height: 40px;
	text-align: center;
}

.button.is-disabled {
	opacity: 0.3;
}

.button.is-selected {
	background: #a6daed;
	border: 2px solid #30abd4;
}

.button.is-highlighted {
	-webkit-box-shadow: 0px 0px 0px 5px rgba(51, 181, 229, 0.4);
	   -moz-box-shadow: 0px 0px 0px 5px rgba(51, 181, 229, 0.4);
	    -ms-box-shadow: 0px 0px 0px 5px rgba(51, 181, 229, 0.4);
	     -o-box-shadow: 0px 0px 0px 5px rgba(51, 181, 229, 0.4);
	        box-shadow: 0px 0px 0px 5px rgba(51, 181, 229, 0.4);
	background: rgba(51, 181, 229, 0.8);
	color: #333333;
}

.button .button-label {
	-webkit-box-orient: horizontal;                              /* Important */
	   -moz-box-orient: horizontal;                              /* Important */
	    -ms-box-orient: horizontal;                              /* Important */
	     -o-box-orient: horizontal;                              /* Important */
	        box-orient: horizontal;                              /* Important */
	-webkit-box-align: center;                                   /* Important */
	   -moz-box-align: center;                                   /* Important */
	    -ms-box-align: center;                                   /* Important */
	     -o-box-align: center;                                   /* Important */
	        box-align: center;                                   /* Important */
	-webkit-box-pack: center;                                    /* Important */
	   -moz-box-pack: center;                                    /* Important */
	    -ms-box-pack: center;                                    /* Important */
	     -o-box-pack: center;                                    /* Important */
	        box-pack: center;                                    /* Important */
	display: -webkit-box;                                        /* Important */
	display:    -moz-box;                                        /* Important */
	display:     -ms-box;                                        /* Important */
	display:      -o-box;                                        /* Important */
	display:         box;                                        /* Important */
	height: 100%;
	overflow: hidden;                                            /* Important */
	text-overflow: ellipsis;                                     /* Important */
	white-space: nowrap;                                         /* Important */
}

/* Inside a Bar */

.bar .button {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	background: none;
	border: none;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	padding-left: 30px;
	padding-right: 30px;
}

.bar .button.is-selected,
.bar .button.is-highlighted {
	background: rgba(51, 181, 229, 0.6);
}

/* Inside a Bar Style Dark */

.bar.style-dark .button {
	color: #fff;
}

.bar.style-dark .button.is-selected,
.bar.style-dark .button.is-highlighted {
	background: rgba(51, 181, 229, 0.6);
}

/* Inside a Bar Style Contextual */

.bar.style-contextual .button {
	color: #fff;
}

.bar.style-contextual .button.is-selected,
.bar.style-contextual .button.is-highlighted {
	background: rgba(51, 181, 229, 0.6);
}

/* Inside a View Style Dark */

.view.style-dark .button {
	color: #fff;
}

/* List Item
-----------------------------------------------------------------------------*/

.list-item {
	-webkit-box-orient: vertical;
	-webkit-box-align: start;
	-webkit-box-pack: center;
	border-bottom: 1px solid #d9d9d9;
	color: #222;
	font-size: 18px;
	font-weight: normal;
	min-height: 48px;
	position: relative;
	padding: 7px;
	padding-right: 56px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-item.no-list-item-image {
	padding-right: 7px;
}

.list-item .list-item-label {
	-webkit-box-orient: horizontal;                              /* Important */
	   -moz-box-orient: horizontal;                              /* Important */
	    -ms-box-orient: horizontal;                              /* Important */
	     -o-box-orient: horizontal;                              /* Important */
	        box-orient: horizontal;                              /* Important */
	-webkit-box-align: center;                                   /* Important */
	   -moz-box-align: center;                                   /* Important */
	    -ms-box-align: center;                                   /* Important */
	     -o-box-align: center;                                   /* Important */
	        box-align: center;                                   /* Important */
	-webkit-box-pack: start;                                     /* Important */
	   -moz-box-pack: start;                                     /* Important */
	    -ms-box-pack: start;                                     /* Important */
	     -o-box-pack: start;                                     /* Important */
	        box-pack: start;                                     /* Important */
	display: -webkit-box;                                        /* Important */
	display:    -moz-box;                                        /* Important */
	display:     -ms-box;                                        /* Important */
	display:      -o-box;                                        /* Important */
	display:         box;                                        /* Important */
	overflow: hidden;                                            /* Important */
	text-overflow: ellipsis;                                     /* Important */
	white-space: nowrap;                                         /* Important */
}

.list-item .list-item-image {
	position: absolute;
	top: 50%;
	bottom: 50%;
	margin-top: -24px;
	right: 0px;
	height: 48px;
	width: 48px;
}

.list-item .list-item-detail {
	-webkit-box-orient: horizontal;                              /* Important */
	   -moz-box-orient: horizontal;                              /* Important */
	    -ms-box-orient: horizontal;                              /* Important */
	     -o-box-orient: horizontal;                              /* Important */
	        box-orient: horizontal;                              /* Important */
	-webkit-box-align: center;                                   /* Important */
	   -moz-box-align: center;                                   /* Important */
	    -ms-box-align: center;                                   /* Important */
	     -o-box-align: center;                                   /* Important */
	        box-align: center;                                   /* Important */
	-webkit-box-pack: start;                                     /* Important */
	   -moz-box-pack: start;                                     /* Important */
	    -ms-box-pack: start;                                     /* Important */
	     -o-box-pack: start;                                     /* Important */
	        box-pack: start;                                     /* Important */
	color: #777777;
	display: -webkit-box;                                        /* Important */
	display:    -moz-box;                                        /* Important */
	display:     -ms-box;                                        /* Important */
	display:      -o-box;                                        /* Important */
	display:         box;                                        /* Important */
	font-size: 14px;
	font-weight: normal;
	margin-top: 6px;
}

.list-item .list-item-detail:empty {
	margin-top: 0px;
}

.list-item.is-disabled {
	opacity: 0.3;
}

.list-item.is-selected {
	background: rgba(51, 181, 229, 0.3);
}

.list-item.is-highlighted {
	background: rgba(51, 181, 229, 0.6);
}

/* Inside a View Style Dark */

.view.style-dark .list-item {
	border-bottom: 1px solid #292929;
	color: #ffffff;
}

/* List Item Header
-----------------------------------------------------------------------------*/

.list-item.list-item-header {
	-webkit-box-orient: horizontal;
	-webkit-box-align: end;
	border-bottom: 2px solid #bababa;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	min-height: 40px;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	text-transform: uppercase;
}

.list-item.list-item-header.is-selected {
	background: inherit;
}

.list-item.list-item-header.is-highlighted {
	background: inherit;
}

/* Overlay
-----------------------------------------------------------------------------*/

@-webkit-keyframes android-anim-show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes android-anim-show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes android-anim-show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes android-anim-show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes android-anim-show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes android-anim-hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@-moz-keyframes android-anim-hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@-ms-keyframes android-anim-hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@-o-keyframes android-anim-hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}
@keyframes android-anim-hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.overlay.show-animated {
	-webkit-animation: android-anim-show-overlay 100ms ease-out 1;
	   -moz-animation: android-anim-show-overlay 100ms ease-out 1;
	    -ms-animation: android-anim-show-overlay 100ms ease-out 1;
	     -o-animation: android-anim-show-overlay 100ms ease-out 1;
	        animation: android-anim-show-overlay 100ms ease-out 1;
}

.overlay.hide-animated {
	-webkit-animation: android-anim-hide-overlay 100ms ease-out 1;
	   -moz-animation: android-anim-hide-overlay 100ms ease-out 1;
	    -ms-animation: android-anim-hide-overlay 100ms ease-out 1;
	     -o-animation: android-anim-hide-overlay 100ms ease-out 1;
	        animation: android-anim-hide-overlay 100ms ease-out 1;
}

.overlay {
	background: rgba(0, 0, 0, 0.6);
}

/* Alert
-----------------------------------------------------------------------------*/

.alert .alert-box {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	    -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	     -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
	background: #292829;
	color: #f7f3f7;
	width: 290px;
}

.alert .alert-header {
	border-bottom: 2px solid #24dfff;
	color: #24caff;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	padding: 15px;
	text-align: center;
}

.alert .alert-content {
	border-bottom: 1px solid #424542;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	padding: 15px;
	text-align: center;
}

.alert .alert-footer {
	-webkit-box-orient: vertical;                                /* Important */
	   -moz-box-orient: vertical;                                /* Important */
	    -ms-box-orient: vertical;                                /* Important */
	     -o-box-orient: vertical;                                /* Important */
	        box-orient: vertical;                                /* Important */
	display: -webkit-box;                                        /* Important */
	display:    -moz-box;                                        /* Important */
	display:     -ms-box;                                        /* Important */
	display:      -o-box;                                        /* Important */
	display:         box;                                        /* Important */
}

.alert .button {
	-webkit-box-flex: 1;                                         /* Important */
	   -moz-box-flex: 1;                                         /* Important */
	    -ms-box-flex: 1;                                         /* Important */
	     -o-box-flex: 1;                                         /* Important */
	        box-flex: 1;                                         /* Important */
	background: transparent;
	border: none;
	border-radius: 0px;
	color: #ffffff;
	height: 47px;
}

.alert .button.is-selected {
	background: #a6daed;
	border: 2px solid #30abd4;
}

.alert .button.is-highlighted {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	background: rgba(51, 181, 229, 0.8);
	color: #333333;
}

/* Show Animation */

@-webkit-keyframes anim-show-alert-android {
	from { -webkit-transform: scale(0.95); opacity: 0; }
	to   { -webkit-transform: scale(1.0); opacity: 1; }
}
@-moz-keyframes anim-show-alert-android {
	from { -webkit-transform: scale(0.95); opacity: 0; }
	to   { -webkit-transform: scale(1.0); opacity: 1; }
}
@-ms-keyframes anim-show-alert-android {
	from { -webkit-transform: scale(0.95); opacity: 0; }
	to   { -webkit-transform: scale(1.0); opacity: 1; }
}
@-o-keyframes anim-show-alert-android {
	from { -webkit-transform: scale(0.95); opacity: 0; }
	to   { -webkit-transform: scale(1.0); opacity: 1; }
}
@keyframes anim-show-alert-android {
	from { -webkit-transform: scale(0.95); opacity: 0; }
	to   { -webkit-transform: scale(1.0); opacity: 1; }
}

.alert.show-animated .alert-box {
	-webkit-animation: anim-show-alert-android 100ms ease-out 1;
	   -moz-animation: anim-show-alert-android 100ms ease-out 1;
	    -ms-animation: anim-show-alert-android 100ms ease-out 1;
	     -o-animation: anim-show-alert-android 100ms ease-out 1;
	        animation: anim-show-alert-android 100ms ease-out 1;
}

.alert .alert-box {
	height: 400px;
	width: 400px;
}

/* Hide Animation */

@-webkit-keyframes anim-hide-alert-android {
	from { -webkit-transform: scale(1.0); opacity: 1; }
	to   { -webkit-transform: scale(0.95); opacity: 0; }
}
@-moz-keyframes anim-hide-alert-android {
	from { -webkit-transform: scale(1.0); opacity: 1; }
	to   { -webkit-transform: scale(0.95); opacity: 0; }
}
@-ms-keyframes anim-hide-alert-android {
	from { -webkit-transform: scale(1.0); opacity: 1; }
	to   { -webkit-transform: scale(0.95); opacity: 0; }
}
@-o-keyframes anim-hide-alert-android {
	from { -webkit-transform: scale(1.0); opacity: 1; }
	to   { -webkit-transform: scale(0.95); opacity: 0; }
}
@keyframes anim-hide-alert-android {
	from { -webkit-transform: scale(1.0); opacity: 1; }
	to   { -webkit-transform: scale(0.95); opacity: 0; }
}

.alert.hide-animated .alert-box {
	-webkit-animation: anim-hide-alert-android 100ms ease-out 1;
	   -moz-animation: anim-hide-alert-android 100ms ease-out 1;
	    -ms-animation: anim-hide-alert-android 100ms ease-out 1;
	     -o-animation: anim-hide-alert-android 100ms ease-out 1;
	        animation: anim-hide-alert-android 100ms ease-out 1;
}

/* Horizontal Button Layout */

.alert.button-layout-horizontal .alert-footer {
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	    -ms-box-orient: horizontal;
	     -o-box-orient: horizontal;
	        box-orient: horizontal;
}

.alert.button-layout-horizontal .alert-footer .button:first-child { margin-left: 0px; }
.alert.button-layout-horizontal .alert-footer .button:last-child  { margin-right: 0px; }

/* Activity Indicator
-----------------------------------------------------------------------------*/

.activity-indicator {
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	background: url(../images/iOS/activity-indicator.png);
	height: 21px;
	width: 21px;
}

/* Slider
-----------------------------------------------------------------------------*/

.slider-track {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	background: url(../images/iOS/slider-track.png) 0px 0px;
	height: 9px;
}

.slider-thumb {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	background: url(../images/iOS/slider-thumb.png) no-repeat center center;
	height: 24px;
	position: absolute;
	margin-top: -6px;
	width: 24px;
}
