/* Reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

iframe {
	border: none;
}

/* Body
-----------------------------------------------------------------------------*/

body {
	font-size: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
}

input, select, textarea {
	font-size: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
}

/* Header Text
-----------------------------------------------------------------------------*/

h2 {
	color: #4c596e;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 12px;
}

h3 {
	color: #4c596e;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}

p {
	margin-bottom: 12px;
}

p small {
	font-size: 12px;
}

/* Window
-----------------------------------------------------------------------------*/

.window {
	background: #424242 url(../images/mootools.png) no-repeat center center;
	height: 415px;
	min-height: 415px;
	overflow: hidden;
	width: 320px;
}

/* View
-----------------------------------------------------------------------------*/

.view {
	background: #e2e7ed;
	color: #4c596e;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: normal;
	height: 415px;							/* Important */
	min-height: 415px;						/* Important */
	overflow: hidden;						/* Important */
	position: relative;						/* Important */
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	width: 320px;							/* Important */
}

.view-scroll-element { /* Inherit */ }
.view-scroll-wrapper { /* Inherit */ }

.view-wrapper {
	-webkit-box-sizing: border-box;			/* Important */
	background: #ffffff url(../images/background-striped.png);
	border-top: 1px solid #a0adb7;
	border-bottom: 1px solid #a0adb7;
	min-height: 375px;						/* Important */
	padding: 20px;
}

/* Stack View
-----------------------------------------------------------------------------*/

.stack-view {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: #ffffff;
	height: 100%;							/* Important */
}

.stack-view-wrapper {
	height: 100%;							/* Important */
	width: 200%;							/* Important */
}

/* UI Navigation Bar
-----------------------------------------------------------------------------*/

.ui-navigation-bar {
	background: url(../images/ui-navigation-bar/normal.png) no-repeat;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 44px;							
	line-height: 44px;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	width: 100%;							
}

.ui-navigation-bar-caption {
	height: 44px;
	line-height: 44px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.ui-navigation-bar-button-left {
	float: left;
	height: 44px;
	line-height: 44px;
	position: relative;
}

.ui-navigation-bar-button-right {
	float: right;
	height: 44px;
	line-height: 44px;
	position: relative;
}

.ui-navigation-bar-visible .view {
	height: 371px;							
	min-height: 371px;						
}

/* UI Bar Button
-----------------------------------------------------------------------------*/

.ui-bar-button {
	background:
		url(../images/ui-bar-button/normal/left.png) no-repeat top left,
		url(../images/ui-bar-button/normal/right.png) no-repeat top right;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: 500;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 7px;
	margin-right: 6px;
	margin-left: 6px;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.ui-bar-button .ui-bar-button-wrapper {
	background: url(../images/ui-bar-button/normal/center.png) repeat-x;
	display: block;
	padding-left: 3px;
	padding-right: 3px;
}

.ui-bar-button.ui-bar-button-back {
	background:
		url(../images/ui-bar-button/back/left.png) no-repeat top left,
		url(../images/ui-bar-button/back/right.png) no-repeat top right;
	padding-left: 12px;
	padding-right: 5px;
}

.ui-bar-button.ui-bar-button-back .ui-bar-button-wrapper {
	background: url(../images/ui-bar-button/back/center.png) repeat-x;
}

/* UI Button
-----------------------------------------------------------------------------*/

.ui-button {
	-o-border-radius: 10px;
	-o-box-sizing: border-box;
	-moz-border-radius: 10px;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 10px;
	-webkit-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	width: 100%;
}

.ui-button.ui-button-down {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6));
	background-image: -moz-linear-gradient(center bottom, #058DF5 0%, #0160E6 100%);
	color: #ffffff;
	text-shadow: none;
}

/* UI List
-----------------------------------------------------------------------------*/

.ui-list .ui-list-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-bottom: none;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	display: block;
	font-size: 17px;
	font-weight: bold;
	list-style: none;
	list-style-position: outside;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.ui-list .ui-list-item:first-child {
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.ui-list .ui-list-item:last-child {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid #bbbbbb;
}

.list li.table-view-cell-selected {
	background: #f4f4f4;
}

/* UI Button
-----------------------------------------------------------------------------*/

.button {
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-box-sizing: border-box;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-o-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

/* Transition - Slide
-----------------------------------------------------------------------------*/

.transition-slide-enter { -webkit-transform: translateX(0%); }
.transition-slide-leave { -webkit-transform: translateX(-50%); }

.transition-slide-enter.commit-transition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
	-webkit-transform: translateX(-50%);
}

.transition-slide-leave.commit-transition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
	-webkit-transform: translateX(0%);
}

/* Transition Cubic
-----------------------------------------------------------------------------*/

.transition-cubic-viewport {
	-webkit-perspective: 800;
}

.transition-cubic {
	-webkit-transform: translateZ(-160px);
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 100% 50%;
	position: absolute;
	width: 50% !important;
}

.transition-cubic.transition-cubic-enter .cubic-face-leave {
	-webkit-transform: rotateY(0deg) translateZ(160px);
	position: absolute;
}

.transition-cubic.transition-cubic-enter .cubic-face-enter {
	-webkit-transform: rotateY(90deg) translateZ(160px);
	position: absolute;
}

.transition-cubic.transition-cubic-enter.commit-transition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
	-webkit-transform: translateZ(-160px) rotateY(-90deg);
}

.transition-cubic.transition-cubic-leave .cubic-face-leave {
	-webkit-transform: rotateY(0deg) translateZ(160px);
	position: absolute;
}

.transition-cubic.transition-cubic-leave .cubic-face-enter {
	-webkit-transform: rotateY(-90deg) translateZ(160px);
	position: absolute;
}

.transition-cubic.transition-cubic-leave.commit-transition {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
	-webkit-transform: translateZ(-160px) rotateY(90deg);
}