/* Body
-----------------------------------------------------------------------------*/

body {
	background: #424242;
	color: #666666;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

/* Device
-----------------------------------------------------------------------------*/

#device {
	background: url(../images/device.png) no-repeat;
	font-size: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
	height: 716px;
	margin-left: auto;
	margin-right: auto;
	width: 368px;
}

#device-content {
	background: url(../images/mootools.png) no-repeat center center;
	overflow: hidden;
	left: 24px;
	height: 460px;
	position: relative;
	top: 138px;
	width: 320px;
}

#open {
	font-size: 14px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 40px;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 380px;
}

#open a {
	background: url(../images/device-open.png);
	display: block;
	height: 67px;
	margin-left: auto;
	margin-right: auto;
	text-indent: -10000px;
	width: 184px;
}

iframe {
	overflow: hidden;
	height: 460px;
	width: 320px;
}
