/* Reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

iframe {
	border: none;
}

.clear {
	clear: both;
}

/* Body
-----------------------------------------------------------------------------*/

html {
	height: 100%;												/* Important */
	width: 100%;												/* Important */
}

body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;								/* Important */
	font-size: 15px;
	font-weight: normal;
	font-family: "Helvetica Neue", sans-serif;
	height: 100%;												/* Important */
	width: 100%;												/* Important */
}

input, select, textarea {
	font-size: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
}

/* Header Text
-----------------------------------------------------------------------------*/

h1 {
	color: #4c596e;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 12px;
}

h2 {
	color: #4c596e;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}

p {
	margin-bottom: 12px;
}

p small {
	font-size: 12px;
}

/* Window
-----------------------------------------------------------------------------*/

.window {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-orient: vertical;								/* Important */
	background: black;
	display: -webkit-box;										/* Important */
	height: 100%;												/* Important */
	overflow: hidden;											/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

.window > .window-content {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-flex: 1;										/* Important */
	display: block;												/* Important */
	height: 100%;												/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

.window-mask {
	background: rgba(255, 255, 255, 0);							/* Important */
	bottom: 0px;												/* Important */
	height: 100%;												/* Important */
	left: 0px;													/* Important */
	position: absolute;											/* Important */
	top: 0px;													/* Important */
	width: 100%;												/* Important */
	z-index: 1000;												/* Important */
}

.window-loading-indicator {
	-webkit-border-radius: 45px;
	-webkit-animation: rotate-window-loading-indicator 1s infinite;
	-webkit-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0.5) url(../images/loading-indicator.png) no-repeat center center;
	height: 45px;
	width: 45px;
}

@-webkit-keyframes rotate-window-loading-indicator {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* Screen Landscape */
@media screen and (width: 480px) and (height: 300px) {
	.window {
		height: 300px;
		width: 480px;
	}
	.window-input-mask {
		height: 300px;
		width: 480px;
	}
}

/* iPhone Safari Mobile Portrait */
@media screen and (width:320px) and (height: 356px) {
	.window {
		height: 416px;
		width: 320px;
	}
}

/* iPhone Safari Mobile Landscape */
@media screen and (width: 480px) and (height: 208px) {
	.window {
		height: 268px;
		width: 480px;
	}
}

/* iPad Safari Mobile Portrait */
@media screen and (width:768px) and (height: 946px) {
	.window {
		height: 946px;
		width: 768px;
	}
}

/* iPad Safari Mobile Landscape */
@media screen and (width:1024px) and (height: 690px) {
	.window {
		height: 690px;
		width: 1024px;
	}
}

/* View
-----------------------------------------------------------------------------*/

.view {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-orient: vertical;								/* Important */
	-webkit-box-flex: 1;										/* Important */
	background: #ffffff url(../images/background-striped.png);
	color: #4c596e;
	display: -webkit-box;										/* Important */
	font-size: 15px;
	font-weight: normal;
	height: 100%;												/* Important */
	overflow: hidden;											/* Important */
	position: relative;											/* Important */
	text-shadow: 0px 1px 0px #ffffff;
	width: 100%;												/* Important */
	z-index: 50;												/* Important */
}

.view > * {
	-webkit-box-flex: 0;										/* Important */
	-webkit-box-sizing: border-box;								/* Important */
}

.view > .view-content {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-orient: vertical;								/* Important */
	-webkit-box-flex: 1;										/* Important */
	display: -webkit-box;										/* Important */
	height: 100%;												/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

/* ScrollView
-----------------------------------------------------------------------------*/

.view.scroll-view > .scroll-view-wrapper {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-orient: vertical;								/* Important */
	-webkit-box-flex: 1;										/* Important */
	display: -webkit-box;										/* Important */
	overflow: visible !important;								/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

.view.scroll-view > .scroll-view-wrapper > * {
	-webkit-box-flex: 0;										/* Important */
}

.view.scroll-view > .scroll-view-wrapper > .view-content {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;										/* Important */
	display: -webkit-box;										/* Important */
	min-height: 100%;											/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

/* View Stack
-----------------------------------------------------------------------------*/

.view.view-stack {
	background: transparent;
}

.view.view-stack > .view-content {
	display: block;												/* Important */
}

/* View Panel
-----------------------------------------------------------------------------*/

.view.view-panel {
	background: transparent;
}

.view.view-panel > .view-content {
	-webkit-box-orient: horizontal;								/* Important */
}

.view-panel-side-panel {
	-webkit-box-flex: 0;										/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	border-right: 1px solid black;
	height: 100%;												/* Important */
	width: 300px;
}

.view-panel-main-panel {
	-webkit-box-flex: 1;										/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	height: 100%;												/* Important */
	width: auto;												/* Important */
}

/* Bar View
-----------------------------------------------------------------------------*/

.bar {
	-webkit-backface-visibility: hidden;						/* Important */
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 44px;												/* Important */
	position: relative;											/* Important */
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	width: 100%;												/* Important */
	z-index: 50;												/* Important */
}

.bar > .bar-content {
	-webkit-box-orient: horizontal;								/* Important */
	display: -webkit-box;										/* Important */
	height: 44px;												/* Important */
	position: relative;											/* Important */
	width: 100%;												/* Important */
}

/*  Bar View Styles */

.bar.style-default-opaque {
	background: url(../images/bar.png) repeat-x 0px 0px;
	color: #ffffff;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.bar.style-default-translucent {
	background: url(../images/bar.png) repeat-x 0px -44px;
	color: #ffffff;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.bar.style-black-opaque {
	background: url(../images/bar.png) repeat-x 0px -88px;
	color: #ffffff;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.bar.style-black-translucent {
	background: url(../images/bar.png) repeat-x 0px -132px;
	color: #ffffff;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

/* Bar View (Navigation Bar)
-----------------------------------------------------------------------------*/

.bar.navigation-bar {
	height: 44px;
}

.bar.navigation-bar > .bar-content {
	height: 44px;
}

.bar.navigation-bar > .bar-content > :first-child { margin-left:  7px; }
.bar.navigation-bar > .bar-content > :last-child  { margin-right: 7px; }

.bar.navigation-bar > .bar-content > [data-role=bar-title] {
	-webkit-box-flex: 1;										/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	height: 44px;
	line-height: 43px;
	text-align: center;
}

.bar.navigation-bar > .bar-content > [data-role=bar-title] > .content {
	left: 0px;													/* Important */
	overflow: hidden;											/* Important */
	position: absolute;											/* Important */
	right: 0px;													/* Important */
	text-overflow: ellipsis;									/* Important */
	white-space: nowrap;										/* Important */
	width: 100%;												/* Important */
	z-index: 25;												/* Important */
}

.bar.navigation-bar > .bar-content > [data-role=bar-button] {
	position: relative;
	z-index: 35;
}

/* Button View Group
-----------------------------------------------------------------------------*/

.button-group.style-vertical > .button-group-content {
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.button-group.style-horizontal > .button-group-content {
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	display: -webkit-box;
}

.button-group > .button-group-content > .button {
	-webkit-box-flex: 1;
	display: block;
}

/* Button
-----------------------------------------------------------------------------*/

.button {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-border-radius: 10px;
	-webkit-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
	width: 100%;
}

.button > .button-content {
	height: 100%;
	position: relative;											/* Important */
	width: 100%;
}

.button > .button-content [data-role=label] [data-role=text] {
	display: block;												/* Important */
	line-height: 1.25;											/* Important */
	overflow: hidden;											/* Important */
	text-overflow: ellipsis;									/* Important */
	white-space: nowrap;										/* Important */
}

.button.button-down,
.button.button-selected,
.button.button-highlighted {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6));
	color: #ffffff;
	text-shadow: none;
}

.button.button-disabled {
	background: #ffffff;
	color: rgba(0, 0, 0, 0.25);
}

/* With Button ViewGroup Horizontal */

.button-group.style-horizontal > .button-group-content > .button {
	-webkit-border-radius: 0px;
	border-left-width: 0px;
}

.button-group.style-horizontal > .button-group-content > .button:first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-left-width: 1px;
}

.button-group.style-horizontal > .button-group-content > .button:last-child {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/* With Button ViewGroup Vertical */

.button-group.style-vertical > .button-group-content > .button {
	-webkit-border-radius: 0px;
	border-top-width: 0px;
}

.button-group.style-vertical > .button-group-content > .button:first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-width: 1px;
}

.button-group.style-vertical > .button-group-content > .button:last-child {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/* Bar Button View
-----------------------------------------------------------------------------*/

.bar-button {
	-webkit-backface-visibility: hidden;						/* Important */
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin-top: 7px;
	margin-bottom: 7px;
	overflow: hidden;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	padding-left: 4px;
	padding-right: 4px;
}

.bar-button > .bar-button-content {
	border-right-style: solid;
	border-left-style: solid;
	height: 27px;
	line-height: 28px;
	margin-top: 1px;
}

.bar-button > .bar-button-content [data-role=label] [data-role=text] {
	display: block;												/* Important */
	overflow: hidden;											/* Important */
	text-overflow: ellipsis;									/* Important */
	white-space: nowrap;										/* Important */
}

/* Default With Default Navigation Bar View */

.bar.style-default-opaque      .bar-button.style-default,
.bar.style-default-translucent .bar-button.style-default {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 0 5 570 stretch stretch;
	background: url(../images/bar-button.png) -5px -0px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.bar.style-default-opaque      .bar-button.bar-button-down.style-default,
.bar.style-default-opaque      .bar-button.bar-button-selected.style-default,
.bar.style-default-opaque      .bar-button.bar-button-highlighted.style-default,
.bar.style-default-translucent .bar-button.bar-button-down.style-default,
.bar.style-default-translucent .bar-button.bar-button-selected.style-default,
.bar.style-default-translucent .bar-button.bar-button-highlighted.style-default {
	-webkit-border-image: url(../images/bar-button.png) 30 5 540 stretch stretch;
	background-position: -5px -30px;
}

.bar.style-default-opaque      .bar-button.style-default > .bar-button-content,
.bar.style-default-translucent .bar-button.style-default > .bar-button-content {
	border-left-color: rgba(53, 78, 110, 0.45);
	border-right-color: rgba(53, 78, 110, 0.00);
}

/* Default With Black Navigation Bar View */

.bar.style-black-opaque      .bar-button.style-default,
.bar.style-black-translucent .bar-button.style-default {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 120 5 450 stretch stretch;
	background: url(../images/bar-button.png) -5px -120px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.bar.style-black-opaque      .bar-button.bar-button-down.style-default,
.bar.style-black-opaque      .bar-button.bar-button-selected.style-default,
.bar.style-black-opaque      .bar-button.bar-button-highlighted.style-default,
.bar.style-black-translucent .bar-button.bar-button-down.style-default,
.bar.style-black-translucent .bar-button.bar-button-selected.style-default,
.bar.style-black-translucent .bar-button.bar-button-highlighted.style-default {
	-webkit-border-image: url(../images/bar-button.png) 150 5 420 stretch stretch;
	background-position: -5px -150px;
	border-width: 0px 5px;
}

.bar.style-black-opaque      .bar-button.style-default > .bar-button-content,
.bar.style-black-translucent .bar-button.style-default > .bar-button-content {
	border-left-color: rgba(0, 0, 0, 0.30);
	border-right-color: rgba(0, 0, 0, 0.0);
}

/* Active */

.bar-button.style-active {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 60 5 510 stretch stretch;
	background: url(../images/bar-button.png) -5px -60px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.bar-button.bar-button-down.style-active,
.bar-button.bar-button-selected.style-active,
.bar-button.bar-button-highlighted.style-active {
	-webkit-border-image: url(../images/bar-button.png) 90 5 480 stretch stretch;
	background-position: -5px -90px;
}

.bar-button.style-active > .bar-button-content {
	border-left-color: rgba(56, 71, 92, 0.30);
	border-right-color: rgba(56, 71, 92, 0.00);
}

/* Warning */

.bar-button.style-warning {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 180 5 390 stretch stretch;
	background: url(../images/bar-button.png) -5px -180px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.bar-button.bar-button-down.style-warning,
.bar-button.bar-button-selected.style-warning,
.bar-button.bar-button-highlighted.style-warning {
	-webkit-border-image: url(../images/bar-button.png) 210 5 360 stretch stretch;
	background-position: -5px -210px;
	border-width: 0px 5px;
}

.bar-button.style-warning > .bar-button-content {
	border-left-color: rgba(69, 28, 27, 0.30);
	border-right-color: rgba(69, 28, 27, 0.00);
}

/* Back With Default Navigation Bar View */

.bar.style-default-opaque      .bar-button.style-back,
.bar.style-default-translucent .bar-button.style-back {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 240 5 330 15 stretch stretch;
	background: url(../images/bar-button.png) -5px -240px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px 0px 15px;
	padding-left: 0px;
	padding-right: 4px;
}

.bar.style-default-opaque      .bar-button.bar-button-down.style-back,
.bar.style-default-opaque      .bar-button.bar-button-selected.style-back,
.bar.style-default-opaque      .bar-button.bar-button-highlighted.style-back,
.bar.style-default-translucent .bar-button.bar-button-down.style-back,
.bar.style-default-translucent .bar-button.bar-button-selected.style-back,
.bar.style-default-translucent .bar-button.bar-button-highlighted.style-back {
	-webkit-border-image: url(../images/bar-button.png) 270 5 300 15 stretch stretch;
	border-width: 0px 5px 0px 15px;
	background-position: -5px -270px;
}

.bar.style-default-opaque      .bar-button.style-back > .bar-button-content,
.bar.style-default-translucent .bar-button.style-back > .bar-button-content {
	border-left-color: rgba(53, 78, 110, 0.45);
	border-right-color: rgba(53, 78, 110, 0.00);
}

/* Back With Black Navigation Bar View */

.bar.style-black-opaque      .bar-button.style-back,
.bar.style-black-translucent .bar-button.style-back {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 360 5 210 15 stretch stretch;
	background: url(../images/bar-button.png) -5px -240px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px 0px 15px;
	padding-left: 0px;
	padding-right: 4px;
}

.bar.style-black-opaque      .bar-button.bar-button-down.style-back,
.bar.style-black-opaque      .bar-button.bar-button-selected.style-back,
.bar.style-black-opaque      .bar-button.bar-button-highlighted.style-back,
.bar.style-black-translucent .bar-button.bar-button-down.style-back,
.bar.style-black-translucent .bar-button.bar-button-selected.style-back,
.bar.style-black-translucent .bar-button.bar-button-highlighted.style-back {
	-webkit-border-image: url(../images/bar-button.png) 390 5 180 15 stretch stretch;
	border-width: 0px 5px 0px 15px;
	background-position: -5px -270px;
}

.bar.style-black-opaque      .bar-button.style-back > .bar-button-content,
.bar.style-black-translucent .bar-button.style-back > .bar-button-content {
	border-left-color: rgba(0, 0, 0, 0.30);
	border-right-color: rgba(0, 0, 0, 0.0);
}

/* Forward With Default Navigation Bar View */

.bar-button.style-forward {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 300 15 270 5 stretch stretch;
	background: url(../images/bar-button.png) -5px -300px repeat-x;
	background-clip: padding-box;
	border-width: 0px 15px 0px 5px;
	padding-left: 4px;
	padding-right: 0px;
}

.bar-button.bar-button-down.style-forward,
.bar-button.bar-button-selected.style-forward,
.bar-button.bar-button-highlighted.style-forward {
	-webkit-border-image: url(../images/bar-button.png) 330 15 240 5 stretch stretch;
	background-position: -5px -330px;
	border-width: 0px 15px 0px 5px;
}

.bar-button.style-forward > .bar-button-content {
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Forward With Black Navigation Bar View */

.bar.style-black-opaque      .bar-button.style-forward,
.bar.style-black-translucent .bar-button.style-forward {
	-webkit-background-size: 0px 0px;
	-webkit-border-image: url(../images/bar-button.png) 420 15 150 5 stretch stretch;
	background: url(../images/bar-button.png) -5px -300px repeat-x;
	background-clip: padding-box;
	border-width: 0px 15px 0px 5px;
	padding-left: 4px;
	padding-right: 0px;
}

.bar.style-black-opaque      .bar-button.bar-button-down.style-forward,
.bar.style-black-opaque      .bar-button.bar-button-selected.style-forward,
.bar.style-black-opaque      .bar-button.bar-button-highlighted.style-forward,
.bar.style-black-translucent .bar-button.bar-button-down.style-forward,
.bar.style-black-translucent .bar-button.bar-button-selected.style-forward,
.bar.style-black-translucent .bar-button.bar-button-highlighted.style-forward {
	-webkit-border-image: url(../images/bar-button.png) 450 15 120 5 stretch stretch;
	background-position: -5px -330px;
	border-width: 0px 15px 0px 5px;
}

.bar.style-black-opaque      .bar-button.style-forward > .bar-button-content,
.bar.style-black-translucent .bar-button.style-forward > .bar-button-content {
	border-left-color: rgba(0, 0, 0, 0.30);
	border-right-color: rgba(0, 0, 0, 0.0);
}

/* With Button Group View (Always Horizontal) */

.button-group > .button-group-content > .bar-button {
	-webkit-background-size: auto !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}

.button-group > .button-group-content > .bar-button > .bar-button-content {
	border-left-width: 1px;
	border-right-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.button-group > .button-group-content > .bar-button:first-child {
	background: none !important;
	border-left-width: 5px !important;
}

.button-group > .button-group-content > .bar-button:first-child > .bar-button-content {
	border-left-width: 0px !important;
	padding-left: 4px;
}

.button-group > .button-group-content > .bar-button:last-child {
	background: none !important;
	border-right-width: 5px !important;
}

.button-group > .button-group-content > .bar-button:last-child > .bar-button-content {
	border-right-width: 0px !important;
	padding-right: 4px;
}

/* List
-----------------------------------------------------------------------------*/

.list {
	-webkit-backface-visibility: hidden;						/* Important */
}

/* Default Style */

.list.style-default .list-item {
	background: #ffffff;
	border-left: none;
	border-right: none;
}

.list.style-default .list-item:first-child {}
.list.style-default .list-item:last-child {
	border-bottom: 1px solid #bbbbbb;
}

/* Grouped Style */

.list.style-grouped {
	-webkit-border-radius: 8px;
	-webkit-background-clip: padding-box;
}

.list.style-grouped .list-item {
	background: #ffffff;
}

.list.style-grouped .list-item:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.list.style-grouped .list-item:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid #bbbbbb;
}

/* List Item
-----------------------------------------------------------------------------*/

.list-item {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-orient: horizontal;								/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	-webkit-box-align: center;									/* Important */
	background: #ffffff;
	border: 1px solid #bbbbbb;
	border-bottom: none;
	color: #000000;
	display: -webkit-box;
	font-size: 17px;
	font-weight: bold;
	list-style: none;
	list-style-position: outside;
	overflow: hidden;											/* Important */
	padding: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;											/* Important */
}

.list-item > [data-role=image] {
	-webkit-box-flex: 0;
}

.list-item > [data-role=image] img {
	-webkit-box-sizing: border-box;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 4px;
	display: block;
	height: 29px;
	width: 29px;
}

.list-item > .list-item-content {
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;								/* Important */
	padding: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.list-item > .list-item-content > [data-role=label] [data-role=text] {
	display: block;												/* Important */
	line-height: 1.25;											/* Important */
	overflow: hidden;											/* Important */
	text-overflow: ellipsis;									/* Important */
	white-space: nowrap;										/* Important */
}

.list-item.list-item-down,
.list-item.list-item-selected,
.list-item.list-item-highlighted {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6)) !important;
	color: #ffffff;
	text-shadow: none;
}

.list-item > [data-role=label][data-task=accessory] {
	color: #395587;
	font-size: 17px;
	font-weight: normal;
}

.list-item.list-item-down        > [data-role=label][data-task=accessory],
.list-item.list-item-selected    > [data-role=label][data-task=accessory],
.list-item.list-item-highlighted > [data-role=label][data-task=accessory] {
	color: #ffffff;
}

/* Styles */

.list-item > [data-role=label][data-task=accessory]:after {
	content: '';
	height: 100%;
	position: absolute;
	right: 5px;
	top: 0px;	
	width: 30px;
}

/* Style Checked */

.list-item.style-checked > [data-role=label][data-task=accessory] {
	padding-right: 35px;
}

.list-item.style-checked > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat -60px center;		
}

.list-item.list-item-down.style-checked        > [data-role=label][data-task=accessory]:after,
.list-item.list-item-selected.style-checked    > [data-role=label][data-task=accessory]:after,
.list-item.list-item-highlighted.style-checked > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat -90px center;
}

/* Style Disclosed */

.list-item.style-disclosed > [data-role=label][data-task=accessory] {
	padding-right: 35px;
}

.list-item.style-disclosed > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat 0px center;
}

.list-item.list-item-down.style-disclosed        > [data-role=label][data-task=accessory]:after,
.list-item.list-item-selected.style-disclosed    > [data-role=label][data-task=accessory]:after,
.list-item.list-item-highlighted.style-disclosed > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat -30px center;
}

/* Style Detailed */

.list-item.style-detailed > [data-role=label][data-task=accessory] {
	padding-right: 35px;
}

.list-item.style-detailed > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat -120px center;
}

.list-item.list-item-down.style-detailed        > [data-role=label][data-task=accessory]:after,
.list-item.list-item-selected.style-detailed    > [data-role=label][data-task=accessory]:after,
.list-item.list-item-highlighted.style-detailed > [data-role=label][data-task=accessory]:after {
	background: url(../images/list-item-style-icon.png) no-repeat -120px center;
}

/* Style Activity */

@-webkit-keyframes anim-list-item-activity {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.list-item.style-activity > [data-role=label][data-task=accessory] {
	padding-right: 10px;
}

.list-item.style-activity > .list-item-activity {
	-webkit-animation: anim-list-item-activity 1s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin: 50% 50%;
	background: url(../images/activity-indicator.png) 0px center no-repeat;
	height: 20px;
	margin-right: 3px;
	width: 21px;
}

.list-item.list-item-down.style-activity        > .list-item-activity,
.list-item.list-item-selected.style-activity    > .list-item-activity,
.list-item.list-item-highlighted.style-activity > .list-item-activity {
	background: url(../images/activity-indicator.png) -21px center no-repeat;
}

/* Mask
-----------------------------------------------------------------------------*/

.mask {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-transform: translate3d(0, 0, 0);					/* Important */
    -webkit-transition: opacity 350ms cubic-bezier(0.5, 0.1, 0.5, 1);
	bottom: 0px;
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.mask.mask-solid {
	background: rgba(0, 0, 0, 0.30);
}

.mask.mask-gradient {
	background: -webkit-gradient(radial, center center, 0, center center, 250, from(rgba(0, 0, 0, 0.10)), to(rgba(0, 0, 0, 0.30)));	
}

.mask {
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.mask > .mask-content {
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
}

.mask.visible {
	opacity: 1;
}

/* Alert
-----------------------------------------------------------------------------*/

@-webkit-keyframes anim-present-alert {
	0% {
		-webkit-transform: scale(0.6);
	}
	45% {
		-webkit-transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes anim-dismiss-alert {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.alert {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 12px;
	background: rgba(11, 27, 68, 0.8) url(../images/alert-bg.png) no-repeat center top;
	border: 2px solid #dfe1e6;
	color: #ffffff;
	padding: 6px;
	width: 275px;
}

.alert.present {
 	-webkit-animation-name: anim-present-alert;
	-webkit-animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
	-webkit-animation-fill-mode: both;
}

.alert.dismiss {
 	-webkit-animation-name: anim-dismiss-alert;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
	-webkit-animation-fill-mode: both;
}

.alert-header {
	font-size: 18px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
}

.alert-content {
	margin-bottom: 12px;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
}

.alert-footer .button {
	-webkit-box-flex: 1;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
	-webkit-border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background: url(../images/alert-button-bg.png) repeat-x;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
}

.alert-footer .button.button-highlighted {
	background: url(../images/alert-button-bg.png) 0px -80px repeat-x;
}

.alert-footer .button.button-down,
.alert-footer .button.button-selected {
	background: url(../images/alert-button-bg.png) 0px -40px repeat-x;
	border: 1px solid rgba(0, 0, 0, 0.75);
}

.alert.alert-horizontal .alert-footer {
	-webkit-box-orient: horizontal;
	display: -webkit-box;
}

.alert.alert-horizontal .alert-footer .button {
	margin-left: 4px;
	margin-right: 4px;
}

.alert.alert-horizontal .alert-footer .button:first-child {
	margin-left: 0px;
}

.alert.alert-horizontal .alert-footer .button:last-child {
	margin-right: 0px;
}

.alert.alert-vertical .alert-footer {
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.alert.alert-vertical .alert-footer .button {
	margin-top: 2px;
	margin-bottom: 2px;
}

.alert.alert-vertical .alert-footer .button:first-child {
	margin-top: 0px;
}

.alert.alert-vertical .alert-footer .button:last-child {
	margin-bottom: 0px;
}

/* Activity Indicator
-----------------------------------------------------------------------------*/

@-webkit-keyframes activity-indicator-rotation-keyframes {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.activity-indicator {
	-webkit-backface-visibility: hidden;						/* Important */
	z-index: 100;
	width: 21px;
}

/* Style Default */

.activity-indicator.style-default .activity-indicator-content {
	background: url(../images/activity-indicator.png);
}

.activity-indicator.style-default.activity .activity-indicator-content {
	-webkit-animation: activity-indicator-rotation-keyframes 1s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin: 50% 50%;
}

/* Style Box */

.activity-indicator.style-box {
	-webkit-border-radius: 8px;
	-webkit-box-align: center;
	background: rgba(0, 0, 0, 0.5);
	display: -webkit-box;
	height: 60px;
	padding: 8px;
	width: 60px;
}

.activity-indicator.style-box .activity-indicator-content {
	background: url(../images/activity-indicator.png) no-repeat -21px 0px;
	margin-left: auto;
	margin-right: auto;
}

.activity-indicator.style-box.activity .activity-indicator-content {
	-webkit-animation: activity-indicator-rotation-keyframes 1s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin: 50% 50%;
}

/* Slider
-----------------------------------------------------------------------------*/

.slider {
	-webkit-transform: translate3d(0, 0, 0);					/* Important */
	-webkit-backface-visibility: hidden;						/* Important */
}

.slider-track {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-border-radius: 5px;
	background: url(../images/slider-track.png) 0px 0px;
	height: 9px;
}

.slider-thumb {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-border-radius: 5px;
	background: url(../images/slider-handle.png) no-repeat center center;
	height: 24px;
	position: absolute;
	margin-top: -6px;
	width: 24px;
}

/* Carousel
-----------------------------------------------------------------------------*/

.carousel {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	overflow: hidden;											/* Important */
	position: relative;											/* Important */
}

.carousel .slide {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-box-sizing: border-box;								/* Important */
	display: block;
	list-style: none;
	list-style-position: outside;
	position: relative;											/* Important */
}

.carousel.carousel-horizontal .slide {
	float: left;
}

.carousel.carousel-vertical .slide {
	float: none;
}

/* Transition - Fade
-----------------------------------------------------------------------------*/

@-webkit-keyframes anim-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes anim-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Enter First */

.transition-fade-enter-first {
	-webkit-animation: anim-fade-in 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Enter */

.transition-fade-enter {
	display: block !important;
}

.transition-fade-enter .transition-view-to-show {
	-webkit-transform: translateY(-100%);
	-webkit-animation: anim-fade-in 350ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;												/* Important */
}

.transition-fade-enter .transition-view-to-hide {
	z-index: 75;												/* Important */
}

/* Leave */

.transition-fade-leave {
	display: block !important;
}

.transition-fade-leave .transition-view-to-show {
	z-index: 75;												/* Important */
}

.transition-fade-leave .transition-view-to-hide {
	-webkit-transform: translateY(-100%);
	-webkit-animation: anim-fade-out 350ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;												/* Important */
}

/* Transition - Slide
-----------------------------------------------------------------------------*/

/* Enter First */

@-webkit-keyframes anim-slide-enter-first {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
	}
}

.transition-slide-enter-first {
	-webkit-animation: anim-slide-enter-first 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Enter */

@-webkit-keyframes anim-slide-enter {
	from {
		-webkit-transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

.transition-slide-enter {
	-webkit-animation: anim-slide-enter 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	display: block; 											/* Important */
	overflow: visible;											/* Important */
}

.transition-slide-enter .transition-view-to-show {
	-webkit-transform: translateY(-100%) translateX(100%);		/* Important */
	-webkit-box-flex: 0;										/* Important */
	overflow: visible;											/* Important */
}

.transition-slide-enter .transition-view-to-hide {
	-webkit-transform: translateY(0%) translateX(0%);			/* Important */
	-webkit-box-flex: 0;										/* Important */
	overflow: visible;											/* Important */
}

/* Enter Navigation Bar View */

@-webkit-keyframes anim-slide-enter-view-to-show-navigation-bar {
	from {
		-webkit-transform: translateX(-75%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
}

@-webkit-keyframes anim-slide-enter-view-to-hide-navigation-bar {
	from {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateX(75%);
		opacity: 0;
	}
}

.transition-slide-enter .transition-view-to-show .bar > .bar-content {
	-webkit-animation: anim-slide-enter-view-to-show-navigation-bar 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

.transition-slide-enter .transition-view-to-hide .bar > .bar-content {
	-webkit-animation: anim-slide-enter-view-to-hide-navigation-bar 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Leave */

@-webkit-keyframes anim-slide-leave {
	from {
		-webkit-transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0%);
	}
}

.transition-slide-leave {
	-webkit-animation: anim-slide-leave 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-box-orient: horizontal !important;					/* Important */
	overflow: visible;											/* Important */
}

.transition-slide-leave .transition-view-to-show {
	-webkit-transform: translateY(0%) translateX(0%);			/* Important */
	-webkit-box-flex: 0;										/* Important */
	overflow: visible;											/* Important */
}

.transition-slide-leave .transition-view-to-hide {
	-webkit-transform: translateY(-100%) translateX(100%);		/* Important */
	-webkit-box-flex: 0;										/* Important */
	overflow: visible;											/* Important */
}

/* Leave Navigation Bar View */

@-webkit-keyframes anim-slide-leave-view-to-show-navigation-bar {
	from {
		-webkit-transform: translateX(75%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
}

@-webkit-keyframes anim-slide-leave-view-to-hide-navigation-bar {
	from {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateX(-75%);
		opacity: 0;
	}
}

.transition-slide-leave .transition-view-to-show .bar > .bar-content {
	-webkit-animation: anim-slide-leave-view-to-show-navigation-bar 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

.transition-slide-leave .transition-view-to-hide .bar > .bar-content {
	-webkit-animation: anim-slide-leave-view-to-hide-navigation-bar 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition - Cover
-----------------------------------------------------------------------------*/

/* Enter First */

@-webkit-keyframes anim-cover-enter-first {
	from {
		-webkit-transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0%);
	}
}

.transition-cover-enter-first .transition-view-to-show {
	-webkit-animation: anim-cover-enter-first 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

/* Enter */

@-webkit-keyframes anim-cover-enter {
	from {
		-webkit-transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0%);
	}
}

.transition-cover-enter {
	display: block !important;
}

.transition-cover-enter .transition-view-to-show {
	-webkit-animation: anim-cover-enter 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

.transition-cover-enter .transition-view-to-hide {
	position: absolute;
}

.transition-cover-view-wrapper {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-flex: 1;
	display: -webkit-box;
	height: 100%;
	width: 100%;
	z-index: 70;
}

.transition-cover-background-view {
	position: absolute;
	z-index: 50;
}

.transition-cover-foreground-view {
	position: relative;
	z-index: 75;
}

.transition-cover-mask {
	z-index: 65;
}

/* Enter - Center */

.transition-cover-center .transition-cover-foreground-view {
	-webkit-box-shadow: 0px 0px 10px #000000;
	margin-left: auto;
	margin-right: auto;
	width: 768px;	
	z-index: 70;
}

/* Enter - Box */

.transition-cover-box .transition-cover-foreground-view > .view {
	-webkit-box-shadow: 0px 0px 10px #000000;
	-webkit-box-flex: 0;
	height: 620px;
	width: 540px;	
}

/* Leave */

@-webkit-keyframes anim-cover-leave {
	from {
		-webkit-transform: translateY(0%);
	}
	to {
		-webkit-transform: translateY(100%);
	}
}

.transition-cover-leave {
	display: block !important;
}

.transition-cover-leave .transition-view-to-show {
	position: absolute;
	z-index: 50;
}

.transition-cover-leave .transition-view-to-hide {
	-webkit-animation: anim-cover-leave 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

/* Transition Cubic
-----------------------------------------------------------------------------*/

.transition-cubic-perspective {
	-webkit-perspective: 1000;
    -webkit-perspective-origin: 50% 50%;
}

/* Enter First */

@-webkit-keyframes anim-cubic-enter-first {
	from {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
	to {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}

.transition-cubic-enter-first {
	-webkit-animation: anim-cubic-enter-first 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 50%;
}

.transition-cubic-enter-first .transition-view-to-show {
	-webkit-transform-origin: center left;
    -webkit-transform: translateX(100%) rotateY(90deg);
}

/* Enter */

@-webkit-keyframes anim-cubic-enter {
	from {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
	to {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}

.transition-cubic-enter {
	-webkit-animation: anim-cubic-enter 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;						/* Important */
    -webkit-transform-origin: 100% 50%;							/* Important */
	display: block !important;									/* Important */
}

.transition-cubic-enter .transition-view-to-show {
	-webkit-transform-origin: center left;
    -webkit-transform: translateY(-100%) translateX(100%) rotateY(90deg);
	-webkit-box-flex: 0;										/* Important */
}

.transition-cubic-enter .transition-view-to-hide {
	-webkit-transform-origin: center left;
    -webkit-transform: rotateY(0deg);
	-webkit-box-flex: 0;										/* Important */
}

/* Leave */

@-webkit-keyframes anim-cubic-leave {
	from {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
	to {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
}

.transition-cubic-leave {
	-webkit-animation: anim-cubic-leave 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 50%;
	display: block !important;									/* Important */
}

.transition-cubic-leave .transition-view-to-show {
	-webkit-transform-origin: center left;
    -webkit-transform: rotateY(0deg);
	-webkit-box-flex: 0;										/* Important */
}

.transition-cubic-leave .transition-view-to-hide {
	-webkit-transform-origin: center left;
    -webkit-transform: translateY(-100%) translateX(100%) rotateY(90deg);
	-webkit-box-flex: 0;										/* Important */
}

/* Transition Flip
-----------------------------------------------------------------------------*/

.transition-flip-perspective {
	-webkit-perspective: 1000;
    -webkit-perspective-origin: 50% 50%;
}

/* Enter First */

@-webkit-keyframes anim-flip-enter-first {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-90deg);
	}
}

.transition-flip-enter-first {
	-webkit-animation: anim-flip-enter-first 400ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.transition-flip-enter-first .transition-view-to-show {
	-webkit-transform-origin: center center;
    -webkit-transform: rotateY(90deg);
}

/* Enter */

@-webkit-keyframes anim-flip-enter {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-180deg);
	}
}

@-webkit-keyframes anim-view-to-show-flip-enter {
	from {
		-webkit-transform: translateY(-100%) rotateY(180deg) scale(0.6)
	}
	to {
		-webkit-transform: translateY(-100%) rotateY(180deg) scale(1);
	}
}

@-webkit-keyframes anim-view-to-hide-flip-enter {
	from {
		-webkit-transform: translateY(0%) rotateY(0deg) scale(1);
	}
	to {
		-webkit-transform: translateY(0%) rotateY(0deg) scale(0.6);
	}
}

.transition-flip-enter {
	-webkit-animation: anim-flip-enter 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
	display: block !important;
}

.transition-flip-enter .transition-view-to-show {
	-webkit-animation: anim-view-to-show-flip-enter 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
}

.transition-flip-enter .transition-view-to-hide {
	-webkit-animation: anim-view-to-hide-flip-enter 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
}

/* Leave */

@-webkit-keyframes anim-flip-leave {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(180deg);
	}
}

@-webkit-keyframes anim-view-to-show-flip-leave {
	from {
		-webkit-transform: translateY(0%) rotateY(180deg) scale(0.6)
	}
	to {
		-webkit-transform: translateY(0%) rotateY(180deg) scale(1);
	}
}

@-webkit-keyframes anim-view-to-hide-flip-leave {
	from {
		-webkit-transform: translateY(-100%) rotateY(0deg) scale(1);
	}
	to {
		-webkit-transform: translateY(-100%) rotateY(0deg) scale(0.6);
	}
}

.transition-flip-leave {
	-webkit-animation: anim-flip-leave 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
	display: block !important;
}

.transition-flip-leave .transition-view-to-show {
	-webkit-animation: anim-view-to-show-flip-leave 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
}

.transition-flip-leave .transition-view-to-hide {
	-webkit-animation: anim-view-to-hide-flip-leave 750ms 1;
	-webkit-animation-timing-function: ease-in-out;
}