/* View
-----------------------------------------------------------------------------*/

.view {
	background: #e2e5ea;
}

/* Navigation Bar
-----------------------------------------------------------------------------*/

/* Navigation Bar Styles */

.bar {
	background-image: url(../images/bar-ipad.png);
	color: #717880;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.bar.style-translucent {
	background-image: url(../images/bar-ipad.png);
	color: #717880;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.bar.style-black-opaque,
.bar.style-black-translucent {
	background-image: url(../images/bar-ipad.png);
}

/* Bar Button
-----------------------------------------------------------------------------*/

.bar-button {
	-webkit-border-image: url(../images/bar-button-ipad.png) 0 5 1970 stretch stretch;
}

.bar-button.bar-button-down,
.bar-button.bar-button-selected,
.bar-button.bar-button-highlighted {
	-webkit-border-image: url(../images/bar-button-ipad.png) 30 5 1940 stretch stretch;
}

/* Grouped */

.bar-button-group .bar-button {
	-webkit-border-image: url(../images/bar-button-ipad.png) 60 1 1910 1 stretch stretch;
}

.bar-button-group .bar-button:first-child {
	-webkit-border-image: url(../images/bar-button-ipad.png) 90 1 1880 5 stretch stretch;
}

.bar-button-group .bar-button:last-child {
	-webkit-border-image: url(../images/bar-button-ipad.png) 120 5 1850 1 stretch stretch;
}

.bar-button-group .bar-button.bar-button-down,
.bar-button-group .bar-button.bar-button-selected,
.bar-button-group .bar-button.bar-button-highlighted {
	-webkit-border-image: url(../images/bar-button-ipad.png) 150 1 1820 1 stretch stretch;
}

.bar-button-group .bar-button.bar-button-down:first-child,
.bar-button-group .bar-button.bar-button-selected:first-child,
.bar-button-group .bar-button.bar-button-highlighted:first-child {
	-webkit-border-image: url(../images/bar-button-ipad.png) 180 1 1790 5 stretch stretch;
}

.bar-button-group .bar-button.bar-button-down:last-child,
.bar-button-group .bar-button.bar-button-selected:last-child,
.bar-button-group .bar-button.bar-button-highlighted:last-child {
	-webkit-border-image: url(../images/bar-button-ipad.png) 210 5 1760 1 stretch stretch;
}

/* Back */

.bar-button.style-back {
	-webkit-border-image: url(../images/bar-button-ipad.png) 240 5 1730 13 stretch stretch;
}

.bar-button.style-back.bar-button-down,
.bar-button.style-back.bar-button-selected,
.bar-button.style-back.bar-button-highlighted {
	-webkit-border-image: url(../images/bar-button-ipad.png) 270 5 1700 13 stretch stretch;
}

/* Forward */

.bar-button.style-forward {
	-webkit-border-image: url(../images/bar-button-ipad.png) 300 13 1670 5 stretch stretch;
}

.bar-button.style-forward.bar-button-down,
.bar-button.style-forward.bar-button-selected,
.bar-button.style-forward.bar-button-highlighted {
	-webkit-border-image: url(../images/bar-button-ipad.png) 330 13 1640 5 stretch stretch;
}

/* List
-----------------------------------------------------------------------------*/

.list {
	background: transparent;
}

/* List Item
-----------------------------------------------------------------------------*/

.list-item {
	background: transparent;
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list-item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.list-item:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list-item.list-item-down,
.list-item.list-item-selected,
.list-item.list-item-highlighted {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015fe6), color-stop(1, #058cf5)) !important;
	color: #ffffff;
	text-shadow: none;
}

/* Grouped Style */

.list.style-grouped {
	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;
}

