/* View
-----------------------------------------------------------------------------*/

.view {
	background: #e2e5ea;
}

/* Navigation Bar
-----------------------------------------------------------------------------*/

/* Navigation Bar Styles */

.bar.style-default-opaque {
	background-image: url(../images/bar-ipad.png);
	color: #717880;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.bar.style-default-translucent {
	background-image: url(../images/bar-ipad.png);
	color: #717880;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.bar.style-black-opaque {
	background-image: url(../images/bar-ipad.png);
}

.bar.style-black-translucent {
	background-image: url(../images/bar-ipad.png);
}

/* Bar Button
-----------------------------------------------------------------------------*/

/* Default With Default Navigation Bar */

.bar.style-default-opaque      .bar-button.style-default,
.bar.style-default-translucent .bar-button.style-default {
	-webkit-border-image: url(../images/bar-button-ipad.png) 0 5 570 stretch stretch;
	background: url(../images/bar-button-ipad.png) -5px -0px repeat-x;
	background-clip: padding-box;
}

.bar.style-default-opaque      .bar-button.bar-button-down.style-default,
.bar.style-default-opaque      .bar-button.bar-button-selected.style-default,
.bar.style-default-opaque      .bar-button.bar-button-highlighted.style-default,
.bar.style-default-translucent .bar-button.bar-button-down.style-default,
.bar.style-default-translucent .bar-button.bar-button-selected.style-default,
.bar.style-default-translucent .bar-button.bar-button-highlighted.style-default {
	-webkit-border-image: url(../images/bar-button-ipad.png) 30 5 540 stretch stretch;
}

.bar.style-default-opaque      .bar-button.style-default > .bar-button-content,
.bar.style-default-translucent .bar-button.style-default > .bar-button-content {
	border-left-color: rgba(69, 69, 69, 0.30);
	border-right-color: rgba(69, 69, 69, 0.00);
}

/* Back With Default Navigation Bar */

.bar.style-default-opaque      .bar-button.style-back,
.bar.style-default-translucent .bar-button.style-back {
	-webkit-border-image: url(../images/bar-button-ipad.png) 240 5 330 15 stretch stretch;
	background: url(../images/bar-button-ipad.png) -5px -240px repeat-x;
	background-clip: padding-box;
}

.bar.style-default-opaque      .bar-button.bar-button-down.style-back,
.bar.style-default-opaque      .bar-button.bar-button-highlighted.style-back,
.bar.style-default-opaque      .bar-button.bar-button-selected.style-back,
.bar.style-default-translucent .bar-button.bar-button-selected.style-back,
.bar.style-default-translucent .bar-button.bar-button-down.style-back,
.bar.style-default-translucent .bar-button.bar-button-highlighted.style-back {
	-webkit-border-image: url(../images/bar-button-ipad.png) 270 5 300 15 stretch stretch;
}

.bar.style-default-opaque      .bar-button.style-back > .bar-button-content,
.bar.style-default-translucent .bar-button.style-back > .bar-button-content {
	border-left-color: rgba(69, 69, 69, 0.30);
	border-right-color: rgba(69, 69, 69, 0.00);
}

/* Forward With Default Navigation Bar */

.bar-button.style-forward {
	-webkit-border-image: url(../images/bar-button-ipad.png) 300 15 270 5 stretch stretch;
	background: url(../images/bar-button-ipad.png) -5px -300px repeat-x;
	background-clip: padding-box;
}

.bar-button.bar-button-down.style-forward,
.bar-button.bar-button-selected.style-forward,
.bar-button.bar-button-highlighted.style-forward {
	-webkit-border-image: url(../images/bar-button-ipad.png) 330 15 240 5 stretch stretch;
}

.bar-button.style-forward > .bar-button-content {
	border-left-color: rgba(69, 69, 69, 0.30);
	border-right-color: rgba(69, 69, 69, 0.00);
}

/* List
-----------------------------------------------------------------------------*/

/* Default Style */

.list.style-default .list-item {
	background: transparent;
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.list.style-default .list-item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.list.style-default .list-item:first-child {}
.list.style-default .list-item:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.list.style-default .list-item.list-item-down,
.list.style-default .list-item.list-item-selected,
.list.style-default .list-item.list-item-highlighted {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015fe6), color-stop(1, #058cf5)) !important;
	color: #ffffff;
	text-shadow: none;
}

/* Grouped Style */

.list.style-grouped {
	-webkit-box-shadow: 0px 1px 1px 0px #ffffff;
}

