<div data-view="Moobile.ScrollView" class="component-list-view">

	<div data-role="navigation-bar" data-name="navigation-bar">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title"></div>
	</div>

<div data-role="content">

		<ul data-role="list">

			<li data-role="header">A</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">azimuth</div>
				<div data-role="detail">CSS 2.1</div>
			</li>

			<li data-role="header">B</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">background</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">background-attachment</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">background-color</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">background-image</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">background-position</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">border</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">border-color</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">border-style</div>
				<div data-role="detail">CSS 2.1</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">box-shadow</div>
				<div data-role="detail">CSS 3</div>
			</li>

			<li data-role="header">C</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">color</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">cursor</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">columns</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">column-count</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">column-fill</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">column-gap</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">column-rule</div>
				<div data-role="detail">CSS 3</div>
			</li>

			<li data-role="header">F</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">float</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">font-family</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">font-size</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">font-weight</div>
				<div data-role="detail">CSS 2</div>
			</li>

			<li data-role="header">L</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">line-height</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">letter-spacing</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">list-style</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">list-style-type</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">list-style-position</div>
				<div data-role="detail">CSS 2</div>
			</li>

			<li data-role="header">M</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">margin</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">margin-top</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">margin-bottom</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">margin-left</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">margin-right</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">max-width</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">min-width</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">max-height</div>
				<div data-role="detail">CSS 2</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">min-height</div>
				<div data-role="detail">CSS 2</div>
			</li>

			<li data-role="header">T</li>

			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transition</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transition-delay</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transition-timing-function</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transform</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transform-origin</div>
				<div data-role="detail">CSS 3</div>
			</li>
			<li data-role="item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">transform-style</div>
				<div data-role="detail">CSS 3</div>
			</li>
		</ul>

	</div>

</div>