<div data-view="Moobile.ScrollView" class="component-slider-view">

	<div data-role="navigation-bar">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title"></div>
	</div>

	<div data-role="content">

		<p>Horizontal Slider</p>
		<div class="h-slider">
			<div data-role="slider" data-name="h-slider"></div>
			<div data-role="text" data-name="h-value" class="h-value">0</div>
		</div>

		<p>Vertical Slider</p>
		<div class="v-slider">
			<div data-role="slider" data-name="v-slider" data-option-mode="vertical"></div>
			<div data-role="text" data-name="v-value" class="v-value"></div>
		</div>

	</div>

</div>