<div data-view="Moobile.ScrollView" class="component-alert-view">

	<div data-role="navigation-bar">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title"></div>
	</div>

	<div data-role="content">

		<p>Alert with vertical buttons:</p>
		<div data-role="button" data-name="vertical-layout-button" class="start-button">Show</div>

		<p>Alert with horizontal buttons:</p>
		<div data-role="button" data-name="horizontal-layout-button" class="stop-button">Show</div>
	</div>

</div>