<div data-view="Moobile.ScrollView" class="component-scroll-view-h-paging-view">

	<div data-role="navigation-bar">
		<div data-role="button" data-name="back-button" data-style="back">Scroll View</div>
		<div data-role="title"></div>
	</div>

	<div data-role="content">
		<div class="page"><span>Page 0</span></div>
		<div class="page"><span>Page 1</span></div>
		<div class="page"><span>Page 2</span></div>
		<div class="page"><span>Page 3</span></div>
		<div class="page"><span>Page 4</span></div>
		<div class="page"><span>Page 5</span></div>
		<div class="page"><span>Page 6</span></div>
		<div class="page"><span>Page 7</span></div>
		<div class="page"><span>Page 8</span></div>
		<div class="page"><span>Page 9</span></div>
	</div>

</div>