<div data-view="Moobile.ScrollView" class="component-scroll-view-view">

	<div data-role="navigation-bar">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title"></div>
	</div>

	<div data-role="content">
		<ul data-role="list" data-name="list" data-style="grouped">
			<li data-role="item" data-name="h-paging">Horizontal pages</li>
			<li data-role="item" data-name="v-paging">Vertical pages</li>
			<li data-role="item" data-name="grid">Grid</li>
		</ul>
	</div>

</div>