<div data-view="Moobile.ScrollView" class="home-view">

	<div data-role="navigation-bar">Moobile 0.2 Demo</div>

	<div data-role="content">

		<ul data-role="list" data-name="list" data-style="grouped">

			<li data-role="header">Components</li>
			<li data-role="item" data-name="component-activity-indicator">Activity Indicator</li>
			<li data-role="item" data-name="component-alert">Alert</li>
			<li data-role="item" data-name="component-bar">Bar</li>
			<li data-role="item" data-name="component-button">Button</li>
			<li data-role="item" data-name="component-list">List</li>
			<li data-role="item" data-name="component-slider">Slider</li>
			<li data-role="item" data-name="component-scroll-view">Scroll View</li>

			<li data-role="header">Transitions</li>
			<li data-role="item" data-name="transition-fade">Fade</li>
			<li data-role="item" data-name="transition-flip">Flip</li>
			<li data-role="item" data-name="transition-slide">Slide</li>
			<li data-role="item" data-name="transition-cubic">Cubic</li>
			<li data-role="item" data-name="transition-cover">Cover</li>

			<li data-role="header">Transitions (for tablets)</li>
			<li data-role="item" data-name="transition-cover-page">Cover Page</li>
			<li data-role="item" data-name="transition-cover-box">Cover Box</li>

			<li data-role="header">Events</li>
			<li data-role="item" data-name="event-tap">Tap</li>
			<li data-role="item" data-name="event-swipe">Swipe</li>
			<li data-role="item" data-name="event-pinch">Pinch</li>
		</ul>

	</div>

</div>