<div data-view="Moobile.ScrollView" class="component-list-view">

	<div data-role="navigation-bar" data-name="navigation-bar" class="center">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title">List</div>
	</div>

	<div data-role="content">

		<ul data-role="list" data-name="list" data-style="grouped">

			<li data-role="header">List Styles</li>
			<li data-role="item" data-style="disclosed" data-name="default">Default</li>
			<li data-role="item" data-style="disclosed" data-name="grouped">Grouped</li>

			<li data-role="header">List Item Styles</li>
			<li data-role="item" data-style="disclosed">Disclosed</li>
			<li data-role="item" data-style="detailed">Detailed</li>
			<li data-role="item" data-style="checked">Checked</li>
		</ul>

	</div>

</div>