<div data-view="Moobile.ScrollView" class="home-view">

	<div data-role="navigation-bar" class="center">Moobile 0.2 Demo</div>

	<div data-role="content">

		<ul data-role="list" data-name="list" data-style="grouped">

			<li data-role="header">Components</li>
			<li data-role="item" data-name="component-activity-indicator" data-style="disclosed">Activity Indicator</li>
			<li data-role="item" data-name="component-alert" data-style="disclosed">Alert</li>
			<li data-role="item" data-name="component-bar" data-style="disclosed">Bar</li>
			<li data-role="item" data-name="component-button" data-style="disclosed">Button</li>
			<li data-role="item" data-name="component-list" data-style="disclosed">List</li>
			<li data-role="item" data-name="component-slider" data-style="disclosed">Slider</li>
			<li data-role="item" data-name="component-scroll-view" data-style="disclosed">Scroll View</li>

			<li data-role="header">Transitions</li>
			<li data-role="item" data-name="transition-fade" data-style="disclosed">Fade</li>
			<li data-role="item" data-name="transition-flip" data-style="disclosed">Flip</li>
			<li data-role="item" data-name="transition-slide" data-style="disclosed">Slide</li>
			<li data-role="item" data-name="transition-cubic" data-style="disclosed">Cubic</li>
			<li data-role="item" data-name="transition-cover" data-style="disclosed">Cover</li>

			<li data-role="header">Transitions (for tablets)</li>
			<li data-role="item" data-name="transition-cover-page" data-style="disclosed">Cover Page</li>
			<li data-role="item" data-name="transition-cover-box" data-style="disclosed">Cover Box</li>

			<li data-role="header">Events</li>
			<li data-role="item" data-name="event-tap" data-style="disclosed">Tap</li>
			<li data-role="item" data-name="event-swipe" data-style="disclosed">Swipe</li>
			<li data-role="item" data-name="event-pinch" data-style="disclosed">Pinch</li>
		</ul>

	</div>

</div>