<div data-view="Moobile.ScrollView" class="bar-view">

	<div data-role="navigation-bar" data-name="navigation-bar">
		<div data-role="button" data-name="back-button" data-option-style-name="back">Back</div>
		<div data-role="title">List</div>
	</div>

	<div data-role="view-content">

		<h1>List</h1>
		<p>List are made of list items that may contain an image, a label and a detail text.</p>
		<ul data-role="list" data-option-style-name="grouped">
			<li data-role="list-item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">Item 1</div>
				<div data-role="detail">More text</div>
			</li>
			<li data-role="list-item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">Item 2</div>
				<div data-role="detail">More text</div>
			</li>
			<li data-role="list-item">
				<img data-role="image" src="images/list-item-image.png" />
				<div data-role="label">Item 3</div>
				<div data-role="detail">More text</div>
			</li>
		</ul>

		<p>The list items supports the following styles:</p>
		<ul data-role="list" data-name="style-list" data-option-selected-item-index="0" data-option-style-name="grouped">
			<li data-role="list-item">Default</li>
			<li data-role="list-item" data-option-style-name="disclosed">Disclosed</li>
			<li data-role="list-item" data-option-style-name="detailed">Detailed</li>
			<li data-role="list-item" data-option-style-name="checked">Checked</li>
		</ul>

	</div>

</div>