<div data-view="Moobile.ScrollView" class="button-view">

	<div data-role="navigation-bar" data-name="navigation-bar">
		<div data-role="button" data-name="back-button" data-option-style-name="back">Back</div>
		<div data-role="title">Button</div>
		<div data-role="button" data-name="temp-button">Button</div>
	</div>

	<div data-role="view-content">

		<h1>Button</h1>
		<p>This is a simple button:</p>
		<div data-role="button">Label</div>

		<h1>Grouped</h1>
		<p>Buttons can be grouped horizontally:</p>
		<div data-role="button-group">
			<div data-role="button">Button 1</div>
			<div data-role="button">Button 2</div>
			<div data-role="button">Button 3</div>
		</div>

		<p>Or vertically:</p>
		<div data-role="button-group" data-option-style-name="vertical">
			<div data-role="button">Button 1</div>
			<div data-role="button">Button 2</div>
			<div data-role="button">Button 3</div>
		</div>

		<h1>Inside a bar</h1>
		<p>Buttons also supports the following styles when used inside a bar:</p>
		<ul data-role="list" data-name="style-list" data-option-selected-item-index="0" data-option-style-name="grouped">
			<li data-role="list-item">Default</li>
			<li data-role="list-item" data-name="active">Active</li>
			<li data-role="list-item" data-name="warning">Warning</li>
			<li data-role="list-item" data-name="back">Back</li>
			<li data-role="list-item" data-name="forward">Forward</li>
		</ul>

	</div>

</div>