<div data-view="Moobile.ScrollView" class="bar-view">

	<div data-role="navigation-bar" data-name="navigation-bar">
		<div data-role="button" data-name="back-button" data-option-style-name="back">Back</div>
		<div data-role="title">Bar</div>
		<div data-role="button" data-name="temp-button">Button</div>
	</div>

	<div data-role="view-content">

		<h1>Bar</h1>
		<p>This view shows a navigation bar on the top and a bar on the bottom. Bars supports the following styles:</p>
		<ul data-role="list" data-name="style-list" data-option-selected-item-index="0" data-option-style-name="grouped">
			<li data-role="list-item">Default</li>
			<li data-role="list-item" data-name="dark">Dark</li>
		</ul>

	</div>

	<div data-role="bar" data-name="bar"></div>

</div>