<div data-view="Moobile.ScrollView" class="home-view">

	<div data-role="navigation-bar">Demo</div>

	<div data-role="view-content">

		<p><strong>This demo shows some of the features available in this release of Moobile.</strong></p>

		<h1>Transitions</h1>
		<p>These transitions can be used when moving from one view to another:</p>
		<ul data-role="list" data-name="transition-list" data-option-style-name="grouped">
			<li data-role="list-item" data-name="none" data-option-style-name="disclosed">None</li>
			<li data-role="list-item" data-name="fade" data-option-style-name="disclosed">Fade</li>
			<li data-role="list-item" data-name="slide" data-option-style-name="disclosed">Slide</li>
			<li data-role="list-item" data-name="cubic" data-option-style-name="disclosed">Cubic</li>
			<li data-role="list-item" data-name="cover" data-option-style-name="disclosed">Cover</li>
		</ul>

		<h1>Controls</h1>
		<p>These controls can be added in any views:</p>
		<ul data-role="list" data-name="control-list" data-option-style-name="grouped">
			<li data-role="list-item" data-name="bar" data-option-style-name="disclosed">Bar</li>
			<li data-role="list-item" data-name="button" data-option-style-name="disclosed">Button</li>
			<li data-role="list-item" data-name="list" data-option-style-name="disclosed">List</li>
			<!-- <li data-role="list-item" data-name="slider" data-option-style-name="disclosed">Slider</li> -->
		</ul>

		<h1>Dialogs</h1>
		<div data-role="button" data-name="alert-button">Alert</div>

		<h1>Events</h1>
		<div data-role="button" data-name="tap-button" class="tap-me-button">Tap me</div>
		<div data-role="button" data-name="pinch-button" class="pinch-me-button">Pinch me</div>
		<div data-role="button" data-name="swipe-button" class="swipe-me-button">Swipe me</div>

	</div>

</div>