/* Reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

iframe {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none !important;
}

/* Theme Config
-----------------------------------------------------------------------------*/

.theme {
	display: none;
}

/* Body
-----------------------------------------------------------------------------*/

html {
	height: 100%;                                                /* Important */
	width: 100%;                                                 /* Important */
}

body {
    user-select: none;                                   /* Important */
    text-size-adjust: 100%;                              /* Important */
	font-size: 15px;
	font-weight: normal;
	font-family: sans-serif;
	height: 100%;                                                /* Important */
	width: 100%;                                                 /* Important */
}

input, select, textarea {
	font-family: sans-serif;
}

/* Window
-----------------------------------------------------------------------------*/

.window {
    backface-visibility: hidden;                         /* Important */
	display: block;                                              /* Important */
	height: 100%;                                                /* Important */
	overflow: hidden;                                            /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
}

.window .window-content-wrapper,
.window .window-content {
	display: block;                                              /* Important */
	height: 100%;                                                /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
}

/* View
-----------------------------------------------------------------------------*/

.view {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    flex-direction: column;                              /* Important */
    flex: 1;                                         	 /* Important */
	display: flex;                                       /* Important */
	height: 100%;                                                /* Important */
	overflow: hidden;                                            /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
	z-index: 50;                                                 /* Important */
}

.view .view-content-wrapper {
    backface-visibility: hidden;                         /* Important */
    flex: 1;                                         	 /* Important */
/*	height: 100%;                                                /* Important */
	overflow: hidden;                                            /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
	z-index: 50;                                                 /* Important */
}

.view .view-content {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    flex-direction: column;                              /* Important */
    flex: 1;                                         	 /* Important */
	display: flex;                                       /* Important */
	left: 0px;                                                   /* Important */
	height: 100%;                                                /* Important */
	position: absolute;                                          /* Important */
	top: 0px;                                                    /* Important */
	width: 100%;                                                 /* Important */
}

.view.view-layout-vertical > .view-content-wrapper > .view-content,
.view.view-layout-vertical > .view-content-wrapper > div > .view-content { /* TODO: Is this line necessary ? */
    flex-direction: column;                              /* Important */
}

.view.view-layout-horizontal > .view-content-wrapper > .view-content,
.view.view-layout-horizontal > .view-content-wrapper > div > .view-content { /* TODO: Is this line necessary ? */
    flex-direction: row;                                 /* Important */
}

.view.enable {
	pointer-events: auto;		 								/* Important */
}

.view.disable {
	pointer-events: none;				 						/* Important */
}

/* Scroll View
-----------------------------------------------------------------------------*/

.view.scroll-view .view-content.scroll-view-content {
	height: auto;                                                /* Important */
	min-height: 100%;                                            /* Important */
	min-width: 100%;                                             /* Important */
	width: 100%;                                                 /* Important */
}

/* IScroll Engine */

.view.scroll-view.iscroll-engine .scrollbar-H,
.view.scroll-view.iscroll-engine .scrollbar-V,
.view.scroll-view.iscroll-engine .scrollbar-H > div,
.view.scroll-view.iscroll-engine .scrollbar-V > div {
    backface-visibility: hidden;                         /* Important */
}

/* View Stack
-----------------------------------------------------------------------------*/

.view.view-stack > .view-content-wrapper > .view-content {
	display: block;
	height: 100%;
	overflow: visible;
	width: 100%;
}

/* View Set
-----------------------------------------------------------------------------*/

.view.view-set > .view-content-wrapper > .view-content {
	display: block;
	height: 100%;
	overflow: visible;
	width: 100%;
}

/* View Queue
-----------------------------------------------------------------------------*/

.view.view-queue > .view-content-wrapper > .view-content {
	display: block;
	height: 100%;
	overflow: visible;
	width: 100%;
}

/* View Collection
-----------------------------------------------------------------------------*/

.view.view-collection > .view-content-wrapper > .view-content > .view {
    flex: 1;                                         /* Important */
}

/* Bar
-----------------------------------------------------------------------------*/

.bar {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    flex-direction: row;                                 /* Important */
    align-items: center;                                 /* Important */
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
	z-index: 75;                                                 /* Important */
}

/* Deprecated */
.bar .bar-item {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    justify-content: center;                             /* Important */
    flex-direction: row;                                 /* Important */
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
}

/* Style Dark */

.bar.style-dark {}

/* Style Light */

.bar.style-light {}

/* Navigation Bar
-----------------------------------------------------------------------------*/

.bar.navigation-bar {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
}

.bar.navigation-bar .navigation-bar-content {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    flex: 1;                                         /* Important */
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: 100%;
}

/* Deprecated */
.bar.navigation-bar .bar-title-wrapper {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	flex: 1;                                         /* Important */
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
}

/* Tab Bar
-----------------------------------------------------------------------------*/

.bar.tab-bar {
    box-sizing: border-box;                              /* Important */
}

/* Tab
-----------------------------------------------------------------------------*/

.tab {
    box-sizing: border-box;                              /* Important */
	cursor: pointer;
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
}

.tab .tab-label {
    box-sizing: border-box;                              /* Important */
	display: block;
}

/* Button Group
-----------------------------------------------------------------------------*/

.button-group {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	display: flex;                                       /* Important */
}

.button-group.button-group-layout-vertical {
	flex-direction: column;                              /* Important */
	align-items: flex-start;                             /* Important */
}

.button-group .button {
    flex: 1;                                         /* Important */
}

/* Button
-----------------------------------------------------------------------------*/

.button {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	cursor: pointer;
	display: flex;                                       /* Important */
	position: relative;                                          /* Important */
	width: auto;                                                 /* Important */
}

.button .button-label {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	flex: 1;                                         /* Important */
	display: block;                                              /* Important */
}

.button.is-selected {}
.button.is-disabled {}
.button.is-highlighted {}

/* Hit Area */

.button .hit-area {
	bottom: 0px;
	content: '';
	display: block;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Inside a Group (Horizontal) */

.button-group .button {}
.button-group .button:first-child {}
.button-group .button:last-child {}

/* Inside a Group (Vertical) */

.button-group.style-vertical .button {}
.button-group.style-vertical .button:first-child {}
.button-group.style-vertical .button:last-child {}

/* Inside a Bar */

.bar .button {
	height: 30px;
}

.bar .button.is-disabled {}
.bar .button.is-selected {}
.bar .button.is-highlighted {}

/* Inside a Bar (Dark) */

.bar.style-dark .button {}
.bar.style-dark .button.is-disabled {}
.bar.style-dark .button.is-selected {}
.bar.style-dark .button.is-highlighted {}

/* Inside a Bar + Back */

.bar .button.style-back {}
.bar .button.style-back.is-disabled {}
.bar .button.style-back.is-selected {}
.bar .button.style-back.is-highlighted {}

/* Inside a Bar (Dark) + Back */

.bar.style-dark .button.style-back {}
.bar.style-dark .button.style-back.is-disabled {}
.bar.style-dark .button.style-back.is-selected {}
.bar.style-dark .button.style-back.is-highlighted {}

/* Inside a Bar + Forward */

.bar .button.style-forward {}
.bar .button.style-forward.is-disabled {}
.bar .button.style-forward.is-selected {}
.bar .button.style-forward.is-highlighted {}

/* Inside a Bar (Dark) + Forward */

.bar.style-dark .button.style-forward {}
.bar.style-dark .button.style-forward.is-dsiabled {}
.bar.style-dark .button.style-forward.is-selected {}
.bar.style-dark .button.style-forward.is-highlighted {}

/* Inside a Bar + Active */

.bar .button.style-active {}
.bar .button.style-active.is-disabled {}
.bar .button.style-active.is-selected {}
.bar .button.style-active.is-highlighted {}

/* Inside a Bar + Warning */

.bar .button.style-warning {}
.bar .button.style-warning.is-disabled {}
.bar .button.style-warning.is-selected {}
.bar .button.style-warning.is-highlighted {}

/* Inside a Bar + Grouped */

.bar .button-group .button {}
.bar .button-group .button.is-disabled {}
.bar .button-group .button.is-selected {}
.bar .button-group .button.is-highlighted {}

/* Inside a Bar (Dark) + Grouped */

.bar.style-dark .button-group .button {}
.bar.style-dark .button-group .button.is-dsiabled {}
.bar.style-dark .button-group .button.is-selected {}
.bar.style-dark .button-group .button.is-highlighted {}

/* Inside a Bar + Grouped + Active */

.bar .button-group .button.style-active {}
.bar .button-group .button.style-active.is-disabled {}
.bar .button-group .button.style-active.is-selected {}
.bar .button-group .button.style-active.is-highlighted {}

/* Inside a Bar + Grouped + Warning */

.bar .button-group .button.style-warning {}
.bar .button-group .button.style-warning.is-disabled {}
.bar .button-group .button.style-warning.is-selected {}
.bar .button-group .button.style-warning.is-highlighted {}

/* List
-----------------------------------------------------------------------------*/

.list {
    backface-visibility: hidden;                         /* Important */
}

/* Style Gouped */
.list.style-grouped {}

/* List Item
-----------------------------------------------------------------------------*/

.list-item {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	flex-direction: row;                                 /* Important */
	align-items: center;                                 /* Important */
	display:         flex;                                       /* Important */
	list-style: none;
	list-style-position: outside;
	position: relative;                                          /* Important */
}

.list-item .list-item-image {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    box-flex: 0;                                         /* Important */
	display: block;                                              /* Important */
}

.list-item .list-item-label {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	flex: 1;                                         /* Important */
	display: block;                                              /* Important */
}

.list-item .list-item-detail {
	backface-visibility: hidden;                         /* Important */
	box-sizing: border-box;                              /* Important */
	flex: 0;                                         /* Important */
	display: block;                                              /* Important */
}

.list-item.is-disabled {}
.list-item.is-selected {}
.list-item.is-highlighted {}

.list-item .list-item-detail:after {
	content: '';
	height: 100%;
	position: absolute;
	right: 5px;
	top: 0px;
}

/* Header */

.list-item.style-header  {}

/* Checked */

.list-item.style-checked  {}

/* Disclosed */

.list-item.style-disclosed {}

/* Style Detailed */

.list-item.style-detailed {}

/* Overlay
-----------------------------------------------------------------------------*/

@keyframes show-overlay {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes hide-overlay {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.overlay {
	backface-visibility: hidden;                         /* Important */
	transform: translate3d(0, 0, 0);                     /* Important */
	background: rgba(0, 0, 0, 0.30);
	bottom: 0px;                                                 /* Important */
	left: 0px;                                                   /* Important */
	position: absolute;                                          /* Important */
	right: 0px;                                                  /* Important */
	top: 0px;                                                    /* Important */
	z-index: 100;                                                /* Important */
}

.overlay.show-animated {
    animation: show-overlay 350ms 1 cubic-bezier(0.5, 0.1, 0.5, 1);
    animation-fill-mode: both;
}

.overlay.hide-animated {
    animation: hide-overlay 350ms 1 cubic-bezier(0.5, 0.1, 0.5, 1);
    animation-fill-mode: both;
}

/* Radial */

.overlay.style-radial {}

/* Alert
-----------------------------------------------------------------------------*/

.alert {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */	
    flex-direction: column;                              /* Important */
    justify-content: center;                             /* Important */
    align-items: center;                                 /* Important */
	bottom: 0px;                                                 /* Important */
	display: flex;                                       /* Important */
	left: 0px;                                                   /* Important */
	position: absolute;                                          /* Important */
	right: 0px;                                                  /* Important */
	top: 0px;                                                    /* Important */
	z-index: 125;                                                /* Important */
}

.alert .alert-box {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
	position: relative;                                          /* Important */
	z-index: 125;                                                /* Important */
}

.alert .alert-header {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
}

.alert .alert-content {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
}

.alert .alert-footer {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
    box-orient: horizontal;
}

.alert .alert-footer .button {}
.alert .alert-footer .button.default {}
.alert .alert-footer .button.is-disabled {}
.alert .alert-footer .button.is-selected {}
.alert .alert-footer .button.is-highlighted {}

/* Show Animation */

@keyframes show-alert {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.alert.show-animated .alert-box {
    animation: show-alert 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1);
    animation-fill-mode: both;
}

/* Hide Animated */

@keyframes hide-alert {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.alert.hide-animated .alert-box {
    animation: hide-alert 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1);
    animation-fill-mode: both;
}

/* Vertical Button Layout */

.alert.alert-layout-vertical {}

/* Activity Indicator
-----------------------------------------------------------------------------*/

@keyframes rotate-activity-indicator {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}

.activity-indicator {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
}

.activity-indicator.active {
    animation: rotate-activity-indicator 1s infinite linear;
    animation-fill-mode: both;
}

/* Slider
-----------------------------------------------------------------------------*/

.slider,
.slider-track,
.slider-thumb,
.slider-range,
.slider-value {
    backface-visibility: hidden;                         /* Important */
    box-sizing: border-box;                              /* Important */
}

/* Transition Fade (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-fade-enter {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.transition-fade-enter {
	display: block !important;
}

.transition-fade-enter .transition-view-to-show {
    transform: translate3d(0, -100%, 0);
    animation: transition-fade-enter 350ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;                                                /* Important */
}

.transition-fade-enter .transition-view-to-hide {
	z-index: 75;                                                 /* Important */
}

/* Transition Fade (Leave)
-----------------------------------------------------------------------------*/

@keyframes transition-fade-leave {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.transition-fade-leave {
	display: block !important;
}

.transition-fade-leave .transition-view-to-show {
	z-index: 75;                                                 /* Important */
}

.transition-fade-leave .transition-view-to-hide {
    transform: translate3d(0, -100%, 0);
    animation: transition-fade-leave 350ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;                                                /* Important */
}

/* Transition Slide (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-slide-enter {
	from { transform: translate3d(0, 0, 0); }
	to   { transform: translate3d(-100%, 0, 0); }
}

.transition-slide-enter {
    animation: transition-slide-enter 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	display: block;                                              /* Important */
}

.transition-slide-enter .transition-view-to-show {
    transform: translate3d(100%, -100%, 0);              /* Important */
	overflow: visible;                                       /* Important */
}

.transition-slide-enter .transition-view-to-hide {
    transform: translate3d(0, 0, 0);                     /* Important */
	overflow: visible;                                           /* Important */
}

/* Transition Slide (Leave)
-----------------------------------------------------------------------------*/

@keyframes transition-slide-leave {
	from { transform: translate3d(-100%, 0, 0); }
	to   { transform: translate3d(0, 0, 0); }
}

.transition-slide-leave {
    animation: transition-slide-leave 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	display: block;                                              /* Important */
}

.transition-slide-leave .transition-view-to-show {
    transform: translate3d(0, 0, 0);                     /* Important */
	overflow: visible;                                           /* Important */
}

.transition-slide-leave .transition-view-to-hide {
    transform: translate3d(100%, -100%, 0);              /* Important */
	overflow: visible;                                           /* Important */
}

/* Transition Drop (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-drop-enter {
	from { transform: translate3d(0, -100%, 0); }
	to   { transform: translate3d(0, 0%, 0); }
}

.transition-drop-enter {
	display: block !important;
}

.transition-drop-enter .transition-view-to-show {
	animation: transition-drop-enter 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

.transition-drop-enter .transition-view-to-hide {
	position: absolute;
	z-index: 50;
}

/* Transition Drop (Leave)
-----------------------------------------------------------------------------*/

@keyframes transition-drop-leave {
	from { transform: translate3d(0, 0, 0); }
	to   { transform: translate3d(0, -100%, 0); }
}

.transition-drop-leave {
	display: block !important;
}

.transition-drop-leave .transition-view-to-show {
	position: absolute;
	z-index: 50;
}

.transition-drop-leave .transition-view-to-hide {
	animation: transition-drop-leave 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

/* Transition Cover (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-cover-enter {
	from { transform: translate3d(0, 100%, 0); }
	to   { transform: translate3d(0, 0%, 0); }
}

.transition-cover-enter {
	display: block !important;
}

.transition-cover-enter .transition-view-to-show {
    animation: transition-cover-enter 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

.transition-cover-enter .transition-view-to-hide {
	position: absolute;
	z-index: 50;
}

/* Transition Cover (Leave)
-----------------------------------------------------------------------------*/

@keyframes transition-cover-leave {
	from { transform: translate3d(0, 0, 0); }
	to   { transform: translate3d(0, 100%, 0); }
}

.transition-cover-leave {
	display: block !important;
}

.transition-cover-leave .transition-view-to-show {
	position: absolute;
	z-index: 50;
}

.transition-cover-leave .transition-view-to-hide {
    animation: transition-cover-leave 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 75;
}

/* Transition Cover Page (Shared)
-----------------------------------------------------------------------------*/

.transition-cover-page-foreground-view-wrapper {
	transform: translate3d(0, -100%, 0);                 /* Important */
	box-sizing: border-box;                              /* Important */
    justify-content: center;                             /* Important */
    align-items: center;                                 /* Important */
	display: flex;                                       /* Important */
	height: 100%;                                                /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
	z-index: 75;                                                 /* Important */
}

.transition-cover-page-foreground-view {
	box-flex: 0;                                         /* Important */
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 768px;
}

.transition-cover-page-background-view {
	display: flex;                                       /* Important */
}

.transition-cover-page-overlay {
	z-index: 50;
}

/* Transition Cover Page (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-cover-page-enter {
	from { transform: translate3d(0, 0, 0); }
	to   { transform: translate3d(0, -100%, 0); }
}

.transition-cover-page-enter {
	display: block !important;
}

.transition-cover-page-enter .transition-cover-page-foreground-view-wrapper {
	animation: transition-cover-page-enter 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition Cover Page Leave
-----------------------------------------------------------------------------*/

@keyframes transition-cover-page-leave {
	from { transform: translate3d(0, -100%, 0); }
	to   { transform: translate3d(0, 0, 0); }
}

.transition-cover-page-leave {
	display: block !important;
}

.transition-cover-page-leave .transition-cover-page-foreground-view-wrapper {
	animation: transition-cover-page-leave 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition Cover Box (Shared)
-----------------------------------------------------------------------------*/

.transition-cover-box-foreground-view-wrapper {
    transform: translate3d(0, -100%, 0);                 /* Important */
    box-sizing: border-box;                              /* Important */
    justify-content: center;                             /* Important */
    align-items: center;                                 /* Important */
	display: flex;                                       /* Important */
	height: 100%;                                                /* Important */
	position: relative;                                          /* Important */
	width: 100%;                                                 /* Important */
	z-index: 75;                                                 /* Important */
}

.transition-cover-box-foreground-view {
	
    box-flex: 0;                                         /* Important */
	height: 620px;
	width: 540px;
}

.transition-cover-box-background-view {
	display: flex !important;                            /* Important */
}

.transition-cover-box-overlay {
	z-index: 50;
}

/* Transition Cover Box (Enter)
-----------------------------------------------------------------------------*/

@keyframes transition-cover-box-enter {
	from { transform: translate3d(0, 0, 0); }
	to   { transform: translate3d(0, -100%, 0); }
}

.transition-cover-box-enter {
	display: block !important;
}

.transition-cover-box-enter .transition-cover-box-foreground-view-wrapper {
    animation: transition-cover-box-enter 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition - Cover Box Leave
-----------------------------------------------------------------------------*/

@keyframes transition-cover-box-leave {
	from { transform: translate3d(0, -100%, 0); }
	to   { transform: translate3d(0, 0, 0); }
}

.transition-cover-box-leave {
	display: block !important;
}

.transition-cover-box-leave .transition-cover-box-foreground-view-wrapper {
    animation: transition-cover-box-leave 400ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition Cubic Enter
-----------------------------------------------------------------------------*/

@keyframes transition-cubic-enter {
	from { -webkit-transform: translate3d(0, 0, 0) rotateY(0deg); }
	to   { -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg); }
}

.transition-cubic-perspective {
    perspective: 800;
    perspective-origin: 50% 50%;
}

.transition-cubic-enter {
    animation: transition-cubic-enter 750ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
    transform-style: preserve-3d;                        /* Important */
    transform-origin: 100% 50%;                         /* Important */
	display: block !important;                                  /* Important */
}

.transition-cubic-enter .transition-view-to-show {
    transform-origin: center left;
    transform: translate3d(100%, -100%, 0) rotateY(90deg);
}

.transition-cubic-enter .transition-view-to-hide {
    transform-origin: center left;
    transform: rotateY(0deg);
}

/* Transition Cubic Leave
-----------------------------------------------------------------------------*/

@keyframes transition-cubic-leave {
	from { transform: translate3d(-100%, 0, 0) rotateY(-90deg); }
	to   { transform: translate3d(0, 0, 0) rotateY(0deg); }
}

.transition-cubic-leave {
    animation: transition-cubic-leave 750ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
	display: block !important;                                  /* Important */
}

.transition-cubic-leave .transition-view-to-show {
    transform-origin: center left;
    transform: rotateY(0deg);
}

.transition-cubic-leave .transition-view-to-hide {
    transform-origin: center left;
    transform: translate3d(100%, -100%, 0) rotateY(90deg);
}

/* Transition Flip Enter
-----------------------------------------------------------------------------*/

@keyframes transition-flip-enter {
	from { transform: translate3d(0, 0, 0) rotateY(0deg); }
	to   { transform: translate3d(-100%, 0, 0) rotateY(-180deg); }
}

.transition-flip-perspective {
    perspective: 800;
    perspective-origin: 50% 50%;
}

.transition-flip-enter {
    animation: transition-flip-enter 750ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
    transform-style: preserve-3d;                        /* Important */
    transform-origin: 100% 50%;
	display: block !important;
}

.transition-flip-enter .transition-view-to-show {
    transform: translate3d(0, -100%, 0) rotateY(-180deg);
}

/* Transition Flip Leave
-----------------------------------------------------------------------------*/

@keyframes transition-flip-leave {
	from { transform: translate3d(0, 0, 0) rotateY(0deg); }
	to   { transform: translate3d(100%, 0, 0) rotateY(180deg); }
}

.transition-flip-leave {
    animation: transition-flip-leave 750ms 1 cubic-bezier(0.5, 0.1, 0.5, 1.0);
    transform-style: preserve-3d;                        /* Important */
    transform-origin: 0% 50%;
	display: block !important;
}

.transition-flip-leave .transition-view-to-show {
    transform: translate3d(0, 0, 0) rotateY(180deg);
}

.transition-flip-leave .transition-view-to-hide {
    transform: translate3d(0, -100%, 0) rotateY(0deg);
}
