<div data-role="view" data-view="Moobile.View.Scroll" data-view-controller="Demo.ViewController.Home" data-title="Demo">

	<div class="content">
	
		<h2>iPhone App Demo</h2>

		<div class="ui-list" data-role="control" data-control="Moobile.UI.List" data-name="list">

			<h3>Transitions</h3>

			<ul>
				<li class="ui-list-item" data-role="list-item" data-name="transition-slide">Slide</li>
				<li class="ui-list-item" data-role="list-item" data-name="transition-cubic">Cubic</li>
				<li class="ui-list-item" data-role="list-item" data-name="transition-fade">Fade</li>
			</ul>

			<br />

			<h3>Interface</h3>

			<ul>
				<li class="ui-list-item" data-role="list-item" data-name="ui">UI</li>
			</ul>

			<br />

			<h3>Other</h3>

			<ul>
				<li class="ui-list-item" data-role="list-item" data-name="licence">Licence</li>
				<li class="ui-list-item" data-role="list-item" data-name="chained">Chained views</li>
			</ul>

		</div>
	
	</div>
	
</div>