/* Reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

iframe {
	border: none;
}

.clear {
	clear: both;
}

/* Body
-----------------------------------------------------------------------------*/

html {
	height: 100%;							/* Important */
	width: 100%;							/* Important */
}

body {
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;			/* Important */
	font-size: 15px;
	font-weight: normal;
	font-family: "Helvetica Neue", sans-serif;
	height: 100%;							/* Important */
	width: 100%;							/* Important */
}

input, select, textarea {
	font-size: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
}

/* Header Text
-----------------------------------------------------------------------------*/

h2 {
	color: #4c596e;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

h3 {
	color: #4c596e;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

p {
	margin-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

p small {
	font-size: 12px;
}

/* Window
-----------------------------------------------------------------------------*/

.window {
	background-color: #424242;
	height: 100%;							/* Important */
	overflow: hidden;						/* Important */
	width: 100%;							/* Important */
}

.window-content {
	height: 100%;							/* Important */
	width: 100%;							/* Important */
}

.window-mask {
	background: rgba(255, 255, 255, 0);		/* Important */
	bottom: 0px;							/* Important */
	height: 100%;							/* Important */
	left: 0px;								/* Important */
	position: absolute;						/* Important */
	top: 0px;								/* Important */
	width: 100%;							/* Important */
	z-index: 1000;							/* Important */
}

.window-loading-indicator {
	-webkit-border-radius: 45px;
	-webkit-animation-name: rotate-window-loading-indicator;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0.5) url(../images/loading-indicator.png) no-repeat center center;
	height: 45px;
	width: 45px;
}

@-webkit-keyframes rotate-window-loading-indicator {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* Screen Landscape */
@media screen and (width: 480px) and (height: 300px) {
	.window {
		height: 300px;
		width: 480px;
	}
	.window-input-mask {
		height: 300px;
		width: 480px;
	}
}

/* Safari Mobile Portrait */
@media screen and (width:320px) and (height: 356px) {
	.window {
		height: 416px;
		width: 320px;
	}
}

/* Safari Mobile Landscape */
@media screen and (width: 480px) and (height: 208px) {
	.window {
		height: 268px;
		width: 480px;
	}
}

/* Content
-----------------------------------------------------------------------------*/

.content {
	padding: 8px;
}

/* View
-----------------------------------------------------------------------------*/

.view {
	-webkit-backface-visibility: hidden;	/* Important */
	-webkit-box-sizing: border-box;			/* Important */
	background-image: url(../images/background-striped.png);
	height: 100%;							/* Important */
	overflow: hidden;						/* Important */
	position: relative;						/* Important */
	width: 100%;							/* Important */
}

.view-content {
	-webkit-box-sizing: border-box;			/* Important */
	height: 100%;							/* Important */
	position: relative;						/* Important */
	width: 100%;							/* Important */
}

/* View Stack
-----------------------------------------------------------------------------*/

.view.view-stack {
	background: #444444;
}

/* View Scroll
-----------------------------------------------------------------------------*/

.view.view-scroll .view-content {
	-webkit-box-orient: vertical;			/* Important */
	display: -webkit-box;					/* Important */
}

.view.view-scroll .view-content > * {
	-webkit-box-flex: 0;					/* Important */
}

.view.view-scroll .view-content .view-scrollable-wrapper {
	-webkit-box-flex: 1;					/* Important */
	-webkit-backface-visibility: hidden;	/* Important */
	height: 100%;							/* Important */
	overflow: visible !important;			/* Important */
	position: relative;						/* Important */
	width: 100%;							/* Important */
}

.view.view-scroll .view-content .view-scrollable-content {
	min-height: 100%;						/* Important */
}

/* UI Navigation Bar
-----------------------------------------------------------------------------*/

.ui-navigation-bar {
	height: 44px;							/* Important */
	left: 0px;								/* Important */
	position: absolute;						/* Important */
	top: 0px;								/* Important */
	width: 100%;							/* Important */
	z-index: 50;							/* Important */
}

.ui-navigation-bar-content {
	-webkit-box-orient: horizontal;			/* Important */
	display: -webkit-box;					/* Important */
	height: 44px;							/* Important */
	position: relative;						/* Important */
	width: 100%;							/* Important */
}

/* UI Navigation Bar + View */

.view.with-ui-navigation-bar > .view-content {
	padding-top: 44px;
}

/* UI Navigation Bar Styles */

.ui-navigation-bar.style-default-opaque {
	background: url(../images/ui-bar.png) repeat-x 0px 0px;
}

.ui-navigation-bar.style-default-translucent {
	background: url(../images/ui-bar.png) repeat-x 0px -44px;
}

.ui-navigation-bar.style-black-opaque {
	background: url(../images/ui-bar.png) repeat-x 0px -88px;
}

.ui-navigation-bar.style-black-translucent {
	background: url(../images/ui-bar.png) repeat-x 0px -132px;
}

/* UI Navigation Bar Item
-----------------------------------------------------------------------------*/

.ui-navigation-bar-item {
	height: 44px;
	width: 100%;							/* Important */
}

.ui-navigation-bar-item-content {
	-webkit-box-orient: horizontal;			/* Important */
	display: -webkit-box;					/* Important */
	height: 44px;
	width: 100%;							/* Important */
}

.ui-navigation-bar-item-title {
	-webkit-box-flex: 2;					/* Important */
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	height: 44px;
	line-height: 43px;
	overflow: hidden;						/* Important */
	padding-left: 6px;
	padding-right: 6px;
	text-overflow: ellipsis;				/* Important */
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	white-space: nowrap;					/* Important */
}

.ui-navigation-bar-item-left,
.ui-navigation-bar-item-right {
	-webkit-box-flex: 1;					/* Important */
	height: 44px;
	min-width: 35px;
	padding-top: 7px;
}

.ui-navigation-bar-item-left {
	text-align: left;
}

.ui-navigation-bar-item-right {
	text-align: right;
}

.ui-navigation-bar-item-left > * {
	display: inline-block;
	margin-left: 6px;
}

.ui-navigation-bar-item-right > * {
	display: inline-block;
	margin-right: 6px;
}

/* UI Bar Button
-----------------------------------------------------------------------------*/

.ui-bar-button {
	-webkit-background-size: 0px 0px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 4px;
	padding-right: 4px;
}

.ui-bar-button-content {
	border-right-style: solid;
	border-left-style: solid;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 1px;
	height: 27px;
	line-height: 28px;
	overflow: hidden;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
}

/* UI Bar Button Styles */

.ui-navigation-bar.style-default-opaque      .ui-bar-button.style-default,
.ui-navigation-bar.style-default-translucent .ui-bar-button.style-default {
	-webkit-border-image: url(../images/ui-bar-button.png) 0 5 570 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -0px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.ui-navigation-bar.style-default-opaque      .ui-bar-button.ui-bar-button-down.style-default,
.ui-navigation-bar.style-default-translucent .ui-bar-button.ui-bar-button-down.style-default {
	-webkit-border-image: url(../images/ui-bar-button.png) 30 5 540 stretch stretch;
	background-position: -5px -30px;
}

.ui-navigation-bar.style-default-opaque      .ui-bar-button.style-default .ui-bar-button-content,
.ui-navigation-bar.style-default-translucent .ui-bar-button.style-default .ui-bar-button-content {
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Default With Black Navigation Bar */

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-default,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-default {
	-webkit-border-image: url(../images/ui-bar-button.png) 120 5 450 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -120px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.ui-bar-button-down.style-default,
.ui-navigation-bar.style-black-translucent .ui-bar-button.ui-bar-button-down.style-default {
	-webkit-border-image: url(../images/ui-bar-button.png) 150 5 420 stretch stretch;
	background-position: -5px -150px;
	border-width: 0px 5px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-default .ui-bar-button-content,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-default .ui-bar-button-content {
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Active */

.ui-bar-button.style-active {
	-webkit-border-image: url(../images/ui-bar-button.png) 60 5 510 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -60px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.ui-bar-button.ui-bar-button-down.style-active {
	-webkit-border-image: url(../images/ui-bar-button.png) 90 5 480 stretch stretch;
	background-position: -5px -90px;
}

.ui-bar-button.style-active .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Warning */

.ui-bar-button.style-warning {
	-webkit-border-image: url(../images/ui-bar-button.png) 180 5 390 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -180px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px;
}

.ui-bar-button.ui-bar-button-down.style-warning {
	-webkit-border-image: url(../images/ui-bar-button.png) 210 5 360 stretch stretch;
	background-position: -5px -210px;
	border-width: 0px 5px;
}

.ui-bar-button.style-warning .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Back With Default Navigation Bar*/

.ui-navigation-bar.style-default-opaque      .ui-bar-button.style-back,
.ui-navigation-bar.style-default-translucent .ui-bar-button.style-back {
	-webkit-border-image: url(../images/ui-bar-button.png) 240 5 330 15 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -240px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px 0px 15px;
	padding-left: 0px;
	padding-right: 4px;
}

.ui-navigation-bar.style-default-opaque      .ui-bar-button.ui-bar-button-down.style-back,
.ui-navigation-bar.style-default-translucent .ui-bar-button.ui-bar-button-down.style-back {
	-webkit-border-image: url(../images/ui-bar-button.png) 270 5 300 15 stretch stretch;
	border-width: 0px 5px 0px 15px;
	background-position: -5px -270px;
}

.ui-navigation-bar.style-default-opaque      .ui-bar-button.style-back .ui-bar-button-content,
.ui-navigation-bar.style-default-translucent .ui-bar-button.style-back .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Back With Black Navigation Bar */

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-back,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-back {
	-webkit-border-image: url(../images/ui-bar-button.png) 360 5 210 15 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -240px repeat-x;
	background-clip: padding-box;
	border-width: 0px 5px 0px 15px;
	padding-left: 0px;
	padding-right: 4px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.ui-bar-button-down.style-back,
.ui-navigation-bar.style-black-translucent .ui-bar-button.ui-bar-button-down.style-back {
	-webkit-border-image: url(../images/ui-bar-button.png) 390 5 180 15 stretch stretch;
	border-width: 0px 5px 0px 15px;
	background-position: -5px -270px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-back .ui-bar-button-content,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-back .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Forward */

.ui-bar-button.style-forward {
	-webkit-border-image: url(../images/ui-bar-button.png) 300 15 270 5 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -300px repeat-x;
	background-clip: padding-box;
	border-width: 0px 15px 0px 5px;
	padding-left: 4px;
	padding-right: 0px;
}

.ui-bar-button.ui-bar-button-down.style-forward {
	-webkit-border-image: url(../images/ui-bar-button.png) 330 15 230 5 stretch stretch;
	background-position: -5px -330px;
	border-width: 0px 15px 0px 5px;
}

.ui-bar-button.style-forward .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* Forward With Black Navigation Bar */

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-forward,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-forward {
	-webkit-border-image: url(../images/ui-bar-button.png) 420 15 150 5 stretch stretch;
	background: url(../images/ui-bar-button.png) -5px -300px repeat-x;
	background-clip: padding-box;
	border-width: 0px 15px 0px 5px;
	padding-left: 4px;
	padding-right: 0px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.ui-bar-button-down.style-forward,
.ui-navigation-bar.style-black-translucent .ui-bar-button.ui-bar-button-down.style-forward {
	-webkit-border-image: url(../images/ui-bar-button.png) 450 15 120 5 stretch stretch;
	background-position: -5px -330px;
	border-width: 0px 15px 0px 5px;
}

.ui-navigation-bar.style-black-opaque      .ui-bar-button.style-forward .ui-bar-button-content,
.ui-navigation-bar.style-black-translucent .ui-bar-button.style-forward .ui-bar-button-content {
	/* TODO */
	border-left-color: rgba(66, 75, 86, 0.75);
	border-right-color: rgba(66, 75, 86, 0.25);
}

/* UI Button
-----------------------------------------------------------------------------*/

.ui-button {
	-webkit-border-radius: 10px;
	-webkit-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	width: 100%;
}

.ui-button.ui-button-down {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6));
	background-image: -moz-linear-gradient(center bottom, #058DF5 0%, #0160E6 100%);
	color: #ffffff;
	text-shadow: none;
}

/* UI Button Group
-----------------------------------------------------------------------------*/

.ui-button-group {
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	display: -webkit-box;
}

.ui-button-group > * {
	-webkit-box-flex: 1;
	display: block;
}

.ui-button-group .ui-bar-button {
	-webkit-background-size: auto;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
	float: none;
	margin-right: 0px;
	margin-left: 0px;
}

.ui-button-group .ui-bar-button .ui-bar-button-content {
	border-left-width: 1px;
	border-right-width: 1px;
}

.ui-button-group .ui-bar-button:first-child {
	background: none;
	border-left-width: 5px !important;
}

.ui-button-group .ui-bar-button:first-child .ui-bar-button-content {
	border-left-width: 0px !important;
	padding-left: 1px;
}

.ui-button-group .ui-bar-button:last-child {
	background: none;
	border-right-width: 5px !important;
}

.ui-button-group .ui-bar-button:last-child .ui-bar-button-content {
	border-right-width: 0px !important;
	padding-right: 1px;
}

/* UI List
-----------------------------------------------------------------------------*/

.ui-list-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	border-bottom: none;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	display: block;
	font-size: 17px;
	font-weight: bold;
	list-style: none;
	list-style-position: outside;
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.ui-list-item.ui-list-item-down,
.ui-list-item.ui-list-item-selected,
.ui-list-item.ui-list-item-highlighted {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #058DF5), color-stop(1, #0160E6));
	color: #ffffff;
	text-shadow: none;
}

/* Default Style */

.ui-list.style-default .ui-list-item {
	border-left: none;
	border-right: none;
}

.ui-list.style-default .ui-list-item:first-child {}
.ui-list.style-default .ui-list-item:last-child {
	border-bottom: 1px solid #bbbbbb;
}

/* Grouped Style */

.ui-list.style-grouped .ui-list-item:first-child {
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.ui-list.style-grouped .ui-list-item:last-child {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border: 1px solid #bbbbbb;
}

/* UI Slider
-----------------------------------------------------------------------------*/

.ui-slider-track {
	-webkit-border-radius: 5px;
	background: url(../images/ui-slider-track.png) 0px 0px;
	height: 9px;
}

.ui-slider-handle {
	-webkit-border-radius: 5px;
	background: url(../images/ui-slider-handle.png) no-repeat center center;
	height: 24px;
	position: absolute;
	margin-top: -6px;
	width: 24px;
}

/* UI Button
-----------------------------------------------------------------------------*/

.ui-button {
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-box-sizing: border-box;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-o-box-sizing: border-box;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	color: #000000;
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", sans-serif;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

/* Transition - Fade
-----------------------------------------------------------------------------*/

@-webkit-keyframes transition-fade-in-keyframes {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes transition-fade-out-keyframes {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Enter First */

.transition-fade-enter-first {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-animation: transition-fade-in-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Enter */

.transition-fade-enter .transition-view-to-show {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-transform: translateY(-100%);
	-webkit-animation: transition-fade-in-keyframes 350ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;												/* Important */
}

.transition-fade-enter .transition-view-to-hide {
	-webkit-backface-visibility: hidden;						/* Important */
	z-index: 75;												/* Important */
}

/* Leave */

.transition-fade-leave .transition-view-to-show {
	-webkit-backface-visibility: hidden;						/* Important */
	z-index: 75;												/* Important */
}

.transition-fade-leave .transition-view-to-hide {
	-webkit-backface-visibility: hidden;						/* Important */
	-webkit-transform: translateY(-100%);
	-webkit-animation: transition-fade-out-keyframes 350ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	z-index: 100;												/* Important */
}

/* Transition - Slide
-----------------------------------------------------------------------------*/

.transition-slide-enter-first,
.transition-slide-enter,
.transition-slide-leave {
	-webkit-backface-visibility: hidden;	/* Important */
}

/* Enter First */

@-webkit-keyframes transition-slide-enter-first-keyframes {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
	}
}

.transition-slide-enter-first {
	-webkit-animation: transition-slide-enter-first-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Enter */

@-webkit-keyframes transition-slide-enter-keyframes {
	from {
		-webkit-transform: translateX(0%);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

.transition-slide-enter {
	-webkit-animation: transition-slide-enter-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	overflow: visible;
}

.transition-slide-enter .transition-view-to-show {
	-webkit-transform: translateX(100%) translateY(-100%);
	overflow: visible;											/* Important */

}

.transition-slide-enter .transition-view-to-hide {
	-webkit-transform: translateX(0%) translateY(0%);
	overflow: visible;											/* Important */
}

/* Enter Navigation Bar */

@-webkit-keyframes transition-slide-enter-view-to-show-navigation-bar-keyframes {
	from {
		-webkit-transform: translateX(-75%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
}

@-webkit-keyframes transition-slide-enter-view-to-hide-navigation-bar-keyframes {
	from {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateX(75%);
		opacity: 0;
	}
}

.transition-slide-enter .transition-view-to-show .ui-navigation-bar-content {
	-webkit-animation: transition-slide-enter-view-to-show-navigation-bar-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

.transition-slide-enter .transition-view-to-hide .ui-navigation-bar-content {
	-webkit-animation: transition-slide-enter-view-to-hide-navigation-bar-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Leave */

@-webkit-keyframes transition-slide-leave-keyframes {
	from {
		-webkit-transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0%);
	}
}

.transition-slide-leave {
	-webkit-animation: transition-slide-leave-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

.transition-slide-leave .transition-view-to-show {
	-webkit-transform: translateX(0%) translateY(0%);			/* Important */
	overflow: visible;											/* Important */
}

.transition-slide-leave .transition-view-to-hide {
	-webkit-transform: translateX(100%) translateY(-100%);		/* Important */
	overflow: visible;											/* Important */
}

/* Leave Navigation Bar */

@-webkit-keyframes transition-slide-leave-view-to-show-navigation-bar-keyframes {
	from {
		-webkit-transform: translateX(75%);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
}

@-webkit-keyframes transition-slide-leave-view-to-hide-navigation-bar-keyframes {
	from {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	to {
		-webkit-transform: translateX(-75%);
		opacity: 0;
	}
}

.transition-slide-leave .transition-view-to-show .ui-navigation-bar-content {
	-webkit-animation: transition-slide-leave-view-to-show-navigation-bar-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

.transition-slide-leave .transition-view-to-hide .ui-navigation-bar-content {
	-webkit-animation: transition-slide-leave-view-to-hide-navigation-bar-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
}

/* Transition Cubic
-----------------------------------------------------------------------------*/

.transition-cubic-perspective {
	-webkit-perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
}

/* Enter First */

@-webkit-keyframes transition-cubic-enter-first-keyframes {
	from {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
	to {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}

.transition-cubic-enter-first {
	-webkit-animation: transition-cubic-enter-first-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 100%;
}

.transition-cubic-enter-first .transition-view-to-show {
	-webkit-transform-origin: top left;
    -webkit-transform: translateX(100%) rotateY(90deg);
}

/* Enter */

@-webkit-keyframes transition-cubic-enter-keyframes {
	from {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
	to {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
}

.transition-cubic-enter {
	-webkit-animation: transition-cubic-enter-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 100%;
}

.transition-cubic-enter .transition-view-to-show {
	-webkit-transform-origin: top left;
    -webkit-transform: translateY(-100%) translateX(100%) rotateY(90deg);
}

.transition-cubic-enter .transition-view-to-hide {
	-webkit-transform-origin: top left;
    -webkit-transform: translateY(0%) translateX(0%) rotateY(0deg);
}

/* Leave */

@-webkit-keyframes transition-cubic-leave-keyframes {
	from {
		-webkit-transform: translateX(-100%) rotateY(-90deg);
	}
	to {
		-webkit-transform: translateX(0%) rotateY(0deg);
	}
}

.transition-cubic-leave {
	-webkit-animation: transition-cubic-leave-keyframes 500ms 1;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1.0);
	-webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100% 100%;
}

.transition-cubic-leave .transition-view-to-show {
	-webkit-transform-origin: top left;
    -webkit-transform: translateY(0%) translateX(0%) rotateY(0deg);
}

.transition-cubic-leave .transition-view-to-hide {
	-webkit-transform-origin: top left;
    -webkit-transform: translateY(-100%) translateX(100%) rotateY(90deg);
}