<div class="component-activity-indicator-view">

	<div data-role="navigation-bar" class="center">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title">Activity Indicator</div>
	</div>

	<div data-role="content">
		<div data-role="activity-indicator" data-name="activity-indicator"></div>
		<div data-role="button" data-name="start-button" class="start-button">Start</div>
		<div data-role="button" data-name="stop-button" class="stop-button">Stop</div>
	</div>

</div>