<div data-view="Moobile.ScrollView" data-style="light" data-style="light" class="component-button-bar-light-view">

	<div data-role="navigation-bar" data-style="light">
		<div data-role="button" data-name="back-button" data-style="back">Buttons</div>
		<div data-role="title">
			<div data-role="button-group">
				<div data-role="button">Item 1</div>
				<div data-role="button">Item 1</div>
				<div data-role="button">Item 1</div>
			</div>
		</div>
		<div data-role="button">Button</div>
	</div>

	<div data-role="content">
		<p class="message">This view's style has also been set to "light" to match the bar's style</p>
	</div>

</div>