<div data-view="Moobile.ScrollView" class="component-scroll-view-view">

	<div data-role="navigation-bar" class="center">
		<div data-role="button" data-name="back-button" data-style="back">Demo</div>
		<div data-role="title">Scroll View</div>
	</div>

	<div data-role="content">

		<ul data-role="list" data-name="list" data-style="grouped">

			<li data-role="header">With iScroll Engine</li>
			<li data-role="item" data-name="iscroll-h-paging" data-style="disclosed">Horizontal pages</li>
			<li data-role="item" data-name="iscroll-v-paging" data-style="disclosed">Vertical pages</li>
			<li data-role="item" data-name="iscroll-grid" data-style="disclosed">Grid</li>

			<li data-role="header">With Native Engine</li>
			<li data-role="item" data-name="native-h-paging" data-style="disclosed">Horizontal pages</li>
			<li data-role="item" data-name="native-v-paging" data-style="disclosed">Vertical pages</li>
			<li data-role="item" data-name="native-grid" data-style="disclosed">Grid</li>

		</ul>

	</div>

</div>