
/* Navigation Bar
-----------------------------------------------------------------------------*/

.bar.navigation-bar.center .bar-item .bar-title-wrapper {
	position: static;
	pointer-events: none;
}

.bar.navigation-bar.center .bar-item .bar-title {
	height: 44px;
	line-height: 33px;
	left: 0px;
	position: absolute;
	right: 0px;
	text-align: center;
}

/* Message
-----------------------------------------------------------------------------*/

.message {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	padding: 12px;
	text-align: center;
	width: 50%;
}

p {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}

/* Component View - Activity Indicator
-----------------------------------------------------------------------------*/

.view.component-activity-indicator-view .component-activity-indicator-view-content {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
}

.view.component-activity-indicator-view .start-button,
.view.component-activity-indicator-view .stop-button {
	position: absolute;
	bottom: 12px;
	width: 125px;
}

.view.component-activity-indicator-view .start-button {
	left: 12px;
}

.view.component-activity-indicator-view .stop-button {
	right: 12px;
}

/* Component View - Alert
-----------------------------------------------------------------------------*/

.view.component-alert-view .component-alert-view-content {
	padding: 10px 9px;
}

/* Component View - Bar
-----------------------------------------------------------------------------*/

.view.component-bar-default-view .component-bar-default-view-content,
.view.component-bar-light-view .component-bar-light-view-content,
.view.component-bar-dark-view .component-bar-dark-view-content {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
}

/* Component View - List
-----------------------------------------------------------------------------*/

.view.component-list-default-view {
	background: #fff;
}

/* Component View - Slider
-----------------------------------------------------------------------------*/

.view.component-slider-view .component-slider-view-content {
	padding: 10px 9px;
}

.view.component-slider-view .h-value,
.view.component-slider-view .v-value {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	font-size: 24px;
	font-weight: normal;
	height: 75px;
	line-height: 75px;
	text-align: center;
}

.view.component-slider-view .h-slider,
.view.component-slider-view .v-slider {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
}

/* Horizontal Slider */

.view.component-slider-view .h-slider {
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	     -o-box-orient: vertical;
	        box-orient: vertical;
}

.view.component-slider-view .h-slider .h-value {
	margin-top: 10px;
}

/* Vertical Slider */

.view.component-slider-view .v-slider {
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	    -ms-box-orient: horizontal;
	     -o-box-orient: horizontal;
	        box-orient: horizontal;
}

.view.component-slider-view .v-slider .slider {
	height: 150px;
}

.view.component-slider-view .v-slider .v-value {
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -ms-box-flex: 1;
	     -o-box-flex: 1;
	        box-flex: 1;
	margin-left: 10px;
	line-height: 150px;
	height: 150px;
}

/* Component View - Button
-----------------------------------------------------------------------------*/

.view.component-button-view .component-button-view-content {
	padding: 10px 9px;
}

.view.component-button-view .list {
	padding: 0px;
}


.view.component-button-bar-dark-view .bar .button.style-back,
.view.component-button-bar-light-view .bar .button.style-back {
	width: 60px;
}


.view.component-button-bar-dark-view .component-button-bar-dark-view-content,
.view.component-button-bar-light-view .component-button-bar-light-view-content,
.view.component-button-bar-default-view .component-button-bar-default-view-content {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
}

/* Component View - ScrollView
-----------------------------------------------------------------------------*/

.view.component-scroll-view-view .list {
	margin-bottom: 0px;
}

/* Horizontal Vertical Paging */

.view.component-scroll-view-h-paging-view .page,
.view.component-scroll-view-v-paging-view .page {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	     -o-box-orient: vertical;
	        box-orient: vertical;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -ms-box-flex: 1;
	     -o-box-flex: 1;
	        box-flex: 1;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	padding: 12px;
}

.view.component-scroll-view-h-paging-view .page span,
.view.component-scroll-view-v-paging-view .page span {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -ms-box-flex: 1;
	     -o-box-flex: 1;
	        box-flex: 1;
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	font-size: 24px;
	font-weight: normal;
	height: 100%;
	width: 100%;
}

/* Grid Paging */

.view.component-scroll-view-grid-view .row {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
}

.view.component-scroll-view-grid-view .page {
	-webkit-box-orient: vertical;
	   -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	     -o-box-orient: vertical;
	        box-orient: vertical;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -ms-box-flex: 1;
	     -o-box-flex: 1;
	        box-flex: 1;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	height: 150px;
	padding: 12px;
	width: 150px;
}

.view.component-scroll-view-grid-view .page span {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	    -ms-box-flex: 1;
	     -o-box-flex: 1;
	        box-flex: 1;
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	font-size: 24px;
	font-weight: normal;
	height: 100%;
	width: 100%;
}

.view.component-scroll-view-grid-view .row:nth-child(odd) .page:nth-child(even) span,
.view.component-scroll-view-grid-view .row:nth-child(even) .page:nth-child(odd) span {
	background: rgba(255, 255, 255, 0.25);
}

/* Transition View
-----------------------------------------------------------------------------*/

.view.transition-view .transition-view-content {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	padding: 12px;
}

/* Event View
-----------------------------------------------------------------------------*/

@-webkit-keyframes flash {
	from { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	to   { -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@-moz-keyframes flash {
	from { -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	to   { -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@-ms-keyframes flash {
	from { -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	to   { -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@-o-keyframes flash {
	from { -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	to   { -o-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes flash {
	from { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}


.view.event-tap-view .event-tap-view-content,
.view.event-pinch-view .event-pinch-view-content,
.view.event-swipe-view .event-swipe-view-content {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-perspective: 800;
	   -moz-perspective: 800;
	    -ms-perspective: 800;
	     -o-perspective: 800;
	        perspective: 800;
}

.view.event-tap-view .event-tap-view-content .zone,
.view.event-pinch-view .event-pinch-view-content .zone,
.view.event-swipe-view .event-swipe-view-content .zone {
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	    -ms-box-pack: center;
	     -o-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-box-align: center;
	     -o-box-align: center;
	        box-align: center;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-box;
	display:      -o-box;
	display:         box;
	padding: 12px;
	text-align: center;
	height: 50%;
	width: 50%;
}

.view.event-tap-view .event-tap-view-content .zone.flash,
.view.event-pinch-view .event-pinch-view-content .zone.flash,
.view.event-swipe-view .event-swipe-view-content .zone.flash {
	-webkit-animation: flash 2s cubic-bezier(0.5, 0.1, 0.5, 1);
	   -moz-animation: flash 2s cubic-bezier(0.5, 0.1, 0.5, 1);
	    -ms-animation: flash 2s cubic-bezier(0.5, 0.1, 0.5, 1);
	     -o-animation: flash 2s cubic-bezier(0.5, 0.1, 0.5, 1);
	        animation: flash 2s cubic-bezier(0.5, 0.1, 0.5, 1);
}

